/* # Site Footer
---------------------------------------------------------------------------------------------------- */

.site-footer {
	line-height: 1.2;
	background-color: #fff;

	p {
		margin-bottom: 0;
	}

	.widget {

		@include breakpoint(sm) {
			margin-bottom: 0;
		}
	}
}

.before-footer {
	padding: 50px 0;
	border-top: 1px solid $color-outline;

	.widget {
		margin-bottom: 0;
	}
}

.after-footer {
	padding: 50px 0;
	font-size: $font-size-body * 0.9;

	.widget {
		margin-bottom: 0;
	}
}

/* ## Footer Widgets
--------------------------------------------- */

.footer-widgets {
	padding: 50px 0;
	border-top: 1px solid $color-outline;

	.widget {

		&:last-of-type {
			margin-bottom: 0;
		}
	}

	.widget-title {
		font-size: $font-size-heading * 0.8;

		@include breakpoint(sm) {
			font-size: $font-size-heading * 0.9;
		}
	}
}
