
/* # Widgets
---------------------------------------------------------------------------------------------------- */

.widget {
	
	margin-bottom: 40px;
	word-wrap: break-word;

	p:last-child,
	ul > li:last-of-type {
		margin-bottom: 0;
	}

	ul > li {
		margin-bottom: 10px;
		padding-bottom: 10px;
	}

	ul > li:last-of-type {
		padding-bottom: 0;
	}

	ol > li {
		list-style-position: inside;
		list-style-type: decimal;
		padding-left: 20px;
		text-indent: -20px;
	}

	li li {
		border: 0;
		margin: 0 0 0 30px;
		padding: 0;
	}
}

.widget-area .widget:last-of-type {
	margin-bottom: 0;
}

.widget_calendar table {
	width: 100%;
}

.widget_calendar td,
.widget_calendar th {
	text-align: center;
}

.sidebar .widget-title a {
	color: $color-text;
	text-decoration: none;
}

/* ## Flexible Widgets
--------------------------------------------- */

.flexible-widgets-1,
.flexible-widgets-2,
.flexible-widgets-3,
.flexible-widgets-4,
.flexible-widgets-5 {

	.widget {
		float: left;
		display: block;
		width: 100%;
		margin: 0 0 5%;

		@include breakpoint(sm) {
			margin: 0 0 2.564102564102564% 2.564102564102564%;
		}
	}
}

.flexible-widgets-1 .widget:nth-child(1n+1),
.flexible-widgets-2 .widget:nth-child(2n+1),
.flexible-widgets-3 .widget:nth-child(3n+1),
.flexible-widgets-4 .widget:nth-child(4n+1),
.flexible-widgets-5 .widget:nth-child(5n+1) {
	clear: left;
	margin-left: 0;
}

@include breakpoint(sm) {

	.flexible-widgets-1 .widget {
		width: 100%;
	}

	.flexible-widgets-2 .widget {
		width: 48.717948717948715%;
	}

	.flexible-widgets-3 .widget {
		width: 31.623931623931625%;
	}
	
	.flexible-widgets-4 .widget {
		width: 23.076923076923077%;
	}
	
	.flexible-widgets-5 .widget {
		width: 17.9487179487179488%;
	}
}