////
/// Box Sizing.
///
/// @group  Generic
/// @author Lee Anthony <seothemeswp@gmail.com>
/// @link   https://github.com/seothemes/genesis-starter-theme
////

html {
	overflow-x: hidden;
	box-sizing: border-box;
	max-width: 100vw;
	height: 100%;
	font-size: 62.5%; // 10px browser default
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;

	&.admin-bar-showing {
		height: calc(100% - 32px);
	}
}

*,
*:before,
*:after {
	box-sizing: inherit;
}
