////
/// Containers.
///
/// @group  Generic
/// @author Lee Anthony <seothemeswp@gmail.com>
/// @link   https://github.com/seothemes/genesis-starter-theme
////

.site-container {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: flex-start;
	min-height: 100%;

	> * {
		width: 100%;
	}
}
