.footer-widgets {
	border-top: 1px solid #eee;
	background-color: #fff;
	clear: both;
	font-size: 18px;
	font-size: 1.8rem;
	padding: 60px 0;
	.wrap {
		margin-left: auto;
		margin-right: auto;
	}
}

.footer-widget-area {
	margin-bottom: 40px;
	padding-left: 30px;
	padding-right: 30px;
	&:last-child {
		margin-bottom: 0;
	}
}

.footer-widgets .widget:last-child {
	margin-bottom: 0;
}

