.footer-widgets {
	clear: both;
	padding: 60px 0;
	border-bottom: $border;
	font-size: $footer-widgets--font-size;
	text-align: left;

	.wrap {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

		@include flexfix;
	}

	.widget:last-child {
		margin-bottom: 0;
	}
}

.footer-widget-area {
	margin-bottom: 4rem;

	@include breakpoint( sm ) {
		float: left;
		width: $one-third;
		margin-bottom: 0;
	}

	&:last-child {
		margin-bottom: 0;
	}
}
