/*
 * Theme Name: Genesis Starter Theme
 * Theme URI: https://genesisstartertheme.com/
 * Author: SEO Themes
 * Author URI: https://seothemes.com/
 * Description: Genesis starter theme with a modern development workflow.
 * Version: 3.5.3
 * License: GPL-2.0-or-later
 * License URI: http://www.gnu.org/licenses/gpl-2.0.html
 * Text Domain: genesis-starter-theme
 * Domain Path: /assets/lang
 * Template: genesis
 */
