/* Genesis Sample WooCommerce
Loaded on WooCommerce pages */
/* # WooCommerce Globals
---------------------------------------------------------------------------------------------------- */
.woocommerce .entry.product {
	padding: 0;
}

.woocommerce abbr.required,
.woocommerce ins {
	text-decoration: none;
}

.woocommerce span.onsale {
	min-height: auto;
	border-radius: 0;
	background-color: #0073e5;
	line-height: 1.75;
}

.woocommerce fieldset {
	margin-bottom: 20px;
}

.woocommerce .products .star-rating {
	padding: 10px;
}

.woocommerce p.stars a,
.woocommerce p.stars a:focus,
.woocommerce p.stars a:hover {
	outline: 0;
}

.woocommerce .woocommerce-LoopProduct-link {
	display: block;
}

.woocommerce.full-width-content .content,
.woocommerce-page.full-width-content .content {
	width: 100%;
	max-width: 1152px;
}

/* # WooCommerce Shop Page
---------------------------------------------------------------------------------------------------- */
.woocommerce .content .entry {
	border-bottom: 0;
}

.woocommerce a.added_to_cart {
	line-height: 1;
}

.woocommerce a.button.loading:after,
.woocommerce button.button.loading:after,
.woocommerce input.button.loading:after,
.woocommerce #respond input#submit.loading:after {
	top: 1em;
}

.woocommerce ul.products li.product {
	/* MS Edge Bug Fix */
}

.woocommerce ul.products li.product h3,
.woocommerce ul.products li.product .price .from {
	color: #000000;
}

.woocommerce ul.products li.product h3:hover,
.woocommerce ul.products li.product .price {
	color: #0073e5;
}

.woocommerce ul.products li.product a {
	transition: color 0.1s ease-in-out, background 0.1s ease-in-out;
}

.woocommerce nav.woocommerce-pagination {
	clear: both;
	margin: 40px 0;
}

.woocommerce nav.woocommerce-pagination ul,
.woocommerce nav.woocommerce-pagination ul li {
	border: none;
}

.woocommerce nav.woocommerce-pagination ul li {
	margin-right: 2px;
	margin-left: 2px;
}

.woocommerce nav.woocommerce-pagination ul li a,
.woocommerce nav.woocommerce-pagination ul li span {
	display: inline-block;
	padding: 8px 12px;
	color: #333333;
	background-color: #f5f5f5;
	font-size: 16px;
	font-size: 1.6rem;
	font-weight: 600;
	line-height: 1.625;
	text-decoration: none;
	cursor: pointer;
}

.woocommerce nav.woocommerce-pagination ul li a:focus,
.woocommerce nav.woocommerce-pagination ul li a:hover,
.woocommerce nav.woocommerce-pagination ul li span.current {
	color: #ffffff;
	background-color: #333333;
}

.woocommerce ul.products li.product .button,
.woocommerce .woocommerce-ordering,
.woocommerce-page ul.products li.product .button,
.woocommerce-page .woocommerce-ordering {
	width: 100%;
	margin-right: 0;
}

/* # WooCommerce Product
---------------------------------------------------------------------------------------------------- */
.woocommerce div.product p.price,
.woocommerce div.product span.price {
	color: #0073e5;
	line-height: 1.5;
}

.woocommerce div.product form.cart .button {
	line-height: 1.5;
}

.woocommerce div.product form.cart .variations {
	table-layout: fixed;
}

.woocommerce .woocommerce-variation-price {
	margin-bottom: 20px;
}

/* # WooCommerce Product Tabs
---------------------------------------------------------------------------------------------------- */
.woocommerce div.product .woocommerce-tabs ul.tabs {
	padding: 0;
}

.woocommerce div.product .woocommerce-tabs ul.tabs:before,
.woocommerce div.product .woocommerce-tabs ul.tabs li {
	border-color: #eeeeee;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li {
	display: block;
	margin: 0;
	padding: 0;
	border: 1px solid #eeeeee;
	border-bottom: 0;
	border-radius: 0;
	background-color: #ffffff;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li:after,
.woocommerce div.product .woocommerce-tabs ul.tabs li:before {
	display: none;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li:last-child {
	border-bottom: 1px solid #eeeeee;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li.active {
	border-bottom-color: #eeeeee;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li a {
	display: block;
	padding: 0.5em 1em;
	color: #000000;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li a:focus,
.woocommerce div.product .woocommerce-tabs ul.tabs li a:hover {
	color: #0073e5;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li.active a:after {
	display: block;
	float: right;
	font-family: dashicons;
	content: '\f147';
}

/* # WooCommerce Checkout
---------------------------------------------------------------------------------------------------- */
.woocommerce-cart #payment ul.payment_methods li,
.woocommerce-checkout #payment ul.payment_methods li,
#add_payment_method #payment ul.payment_methods li {
	list-style-type: none;
}

.woocommerce-cart #payment div.form-row,
.woocommerce-checkout #payment div.form-row,
#add_payment_method #payment div.form-row {
	margin-bottom: 0;
}

.woocommerce-cart table.cart td.actions .coupon input.input-text,
.woocommerce-checkout table.cart td.actions .coupon input.input-text,
#add_payment_method table.cart td.actions .coupon input.input-text {
	width: auto;
}

/* # WooCommerce Cart Page
---------------------------------------------------------------------------------------------------- */
.woocommerce table.shop_table,
.woocommerce table.shop_table td {
	border-color: #eeeeee;
	border-radius: 0;
	line-height: 1.75;
	word-break: normal;
}

.woocommerce table.shop_table .order-number {
	min-width: 75px;
}

.woocommerce table.shop_table td.actions {
	padding-top: 15px;
}

.woocommerce-cart table.cart {
	line-height: 1.75;
}

.woocommerce-cart table.cart td {
	padding: 10px 12px;
	font-size: 18px;
	font-size: 1.8rem;
}

.woocommerce-cart table.cart td.actions .coupon .input-text {
	width: 100% !important;
	margin-bottom: 10px;
	font-size: 18px;
	font-size: 1.8rem;
}

.woocommerce-cart table.cart .product-thumbnail {
	min-width: 56px;
}

.woocommerce-cart table.cart th.product-name {
	min-width: 140px;
}

.woocommerce-cart table.cart th.product-price,
.woocommerce-cart table.cart th.product-quantity,
.woocommerce-cart table.cart th.product-subtotal {
	min-width: 110px;
}

.woocommerce-cart table.cart img {
	vertical-align: middle;
}

.woocommerce-cart td.product-name dl.variation dd {
	margin-left: 20px;
}

.woocommerce-checkout-review-order-table th.product-total {
	min-width: 110px;
}

.woocommerce-checkout table.cart img,
#add_payment_method table.cart img {
	vertical-align: middle;
}

/* # WooCommerce Payment
---------------------------------------------------------------------------------------------------- */
.woocommerce-cart #payment,
.woocommerce-checkout #payment,
#add_payment_method #payment {
	padding: 30px;
	border-radius: 0;
	background-color: #f5f5f5;
}

.woocommerce-cart #payment div.payment_box,
.woocommerce-checkout #payment div.payment_box,
#add_payment_method #payment div.payment_box {
	background-color: #eeeeee;
}

.woocommerce-cart #payment div.payment_box:before,
.woocommerce-checkout #payment div.payment_box:before,
#add_payment_method #payment div.payment_box:before {
	display: none;
}

.woocommerce-cart #payment ul.payment_methods,
.woocommerce-checkout #payment ul.payment_methods,
#add_payment_method #payment ul.payment_methods {
	border-color: #eeeeee;
}

/* # WooCommerce Forms
---------------------------------------------------------------------------------------------------- */
.woocommerce a.button,
.woocommerce a.button.alt,
.woocommerce button.button,
.woocommerce button.button.alt,
.woocommerce input.button,
.woocommerce input.button.alt,
.woocommerce input.button[type='submit'],
.woocommerce #respond input#submit,
.woocommerce #respond input#submit.alt {
	width: auto;
	padding: 15px 20px;
	border: 0;
	border-radius: 0;
	color: #ffffff;
	background-color: #333333;
	font-size: 16px;
	font-size: 1.6rem;
	font-weight: 600;
	text-align: center;
	white-space: normal;
	text-decoration: none;
	cursor: pointer;
}

.woocommerce a.button:hover,
.woocommerce a.button:focus,
.woocommerce a.button.alt:hover,
.woocommerce a.button.alt:focus,
.woocommerce button.button:hover,
.woocommerce button.button:focus,
.woocommerce button.button.alt:hover,
.woocommerce button.button.alt:focus,
.woocommerce input.button:hover,
.woocommerce input.button:focus,
.woocommerce input.button.alt:hover,
.woocommerce input.button.alt:focus,
.woocommerce input.button[type='submit']:hover,
.woocommerce input.button[type='submit']:focus,
.woocommerce #respond input#submit:hover,
.woocommerce #respond input#submit:focus,
.woocommerce #respond input#submit.alt:hover,
.woocommerce #respond input#submit.alt:focus {
	color: #ffffff;
	background-color: #0073e5;
}

.woocommerce #reviews #comment {
	height: 150px;
}

.woocommerce .quantity .qty {
	width: 70px;
	margin-right: 5px;
	padding: 12px 5px;
	font-size: 20px;
	font-size: 2rem;
	line-height: 1.5;
}

.woocommerce form .form-row input.input-text,
.woocommerce form .form-row textarea {
	padding: 8px 20px;
	line-height: 1.5;
}

.woocommerce form.checkout_coupon,
.woocommerce form.login,
.woocommerce form.register,
.woocommerce form .form-row .select2-container,
.woocommerce form .form-row.woocommerce-validated input.input-text,
.woocommerce form .form-row.woocommerce-validated select,
.woocommerce form .form-row.woocommerce-validated .select2-container {
	border-color: #eeeeee;
	border-radius: 0;
}

.woocommerce .coupon {
	line-height: 1;
}

.woocommerce .coupon .input-text {
	height: 48px;
}

.woocommerce input.button,
.woocommerce input.button[type='submit'] {
	width: 100% !important;
}

.woocommerce-cart table.cart td.actions .coupon .input-text,
.woocommerce-checkout table.cart td.actions .coupon .input-text,
#add_payment_method table.cart td.actions .coupon .input-text {
	width: 150px;
	padding: 5px 20px;
	border-color: #eeeeee;
}

.woocommerce-cart table.cart input,
.woocommerce-checkout table.cart input,
#add_payment_method table.cart input {
	vertical-align: top;
}

.woocommerce form .form-row-first,
.woocommerce form .form-row-last,
.woocommerce #reviews #comments .star-rating,
.woocommerce-page form .form-row-first,
.woocommerce-page form .form-row-last {
	float: none;
	width: 100%;
}

/* # WooCommerce Disabled Buttons
---------------------------------------------------------------------------------------------------- */
.woocommerce a.button.disabled,
.woocommerce a.button:disabled,
.woocommerce a.button:disabled[disabled],
.woocommerce button.button.disabled,
.woocommerce button.button:disabled,
.woocommerce button.button:disabled[disabled],
.woocommerce input.button.disabled,
.woocommerce input.button:disabled,
.woocommerce input.button:disabled[disabled],
.woocommerce #respond input#submit.disabled,
.woocommerce #respond input#submit:disabled,
.woocommerce #respond input#submit:disabled[disabled] {
	padding: 16px 24px;
	color: #ffffff;
	background-color: #000000;
}

.woocommerce a.button.alt.disabled,
.woocommerce a.button.alt.disabled:hover,
.woocommerce a.button.alt:disabled,
.woocommerce a.button.alt:disabled:hover,
.woocommerce a.button.alt[disabled]:disabled,
.woocommerce a.button.alt[disabled]:disabled:hover,
.woocommerce button.button.alt.disabled,
.woocommerce button.button.alt.disabled:hover,
.woocommerce button.button.alt:disabled,
.woocommerce button.button.alt:disabled:hover,
.woocommerce button.button.alt[disabled]:disabled,
.woocommerce button.button.alt[disabled]:disabled:hover,
.woocommerce input.button.alt.disabled,
.woocommerce input.button.alt.disabled:hover,
.woocommerce input.button.alt:disabled,
.woocommerce input.button.alt:disabled:hover,
.woocommerce input.button.alt[disabled]:disabled,
.woocommerce input.button.alt[disabled]:disabled:hover,
.woocommerce #respond input#submit.alt.disabled,
.woocommerce #respond input#submit.alt.disabled:hover,
.woocommerce #respond input#submit.alt:disabled,
.woocommerce #respond input#submit.alt:disabled:hover,
.woocommerce #respond input#submit.alt[disabled]:disabled,
.woocommerce #respond input#submit.alt[disabled]:disabled:hover {
	padding: 16px 24px;
	color: #ffffff;
	background-color: #000000;
}

/* # WooCommerce Account Page
---------------------------------------------------------------------------------------------------- */
.woocommerce-account .woocommerce-Address-title h3 {
	font-size: 26px;
	font-size: 2.6rem;
}

.woocommerce-account .woocommerce-Address {
	margin-bottom: 20px;
}

.woocommerce-account table.order_details th.product-total {
	min-width: 110px;
}

.woocommerce-account .woocommerce-MyAccount-navigation ul {
	text-align: center;
}

.woocommerce-account .woocommerce-MyAccount-navigation ul li {
	display: inline-block;
	margin: 0 10px;
}

.woocommerce-account .woocommerce-MyAccount-content,
.woocommerce-account .woocommerce-MyAccount-navigation {
	width: 100%;
	margin-right: 0;
}

.woocommerce-MyAccount-navigation {
	margin-bottom: 40px;
	padding: 20px;
	border: 1px solid #eeeeee;
}

.woocommerce-MyAccount-navigation ul {
	margin-bottom: 0;
	margin-left: 0;
}

.woocommerce-MyAccount-navigation ul li {
	margin-bottom: 15px;
	line-height: 1.2;
	list-style-type: none;
}

.woocommerce-MyAccount-navigation ul li:last-child {
	margin-bottom: 0;
}

.woocommerce-MyAccount-navigation ul li.is-active > a {
	color: #333333;
	font-weight: 700;
}

.content-sidebar.woocommerce-account .woocommerce-MyAccount-navigation ul,
.sidebar-content.woocommerce-account .woocommerce-MyAccount-navigation ul {
	text-align: center;
}

.content-sidebar.woocommerce-account .woocommerce-MyAccount-navigation li,
.sidebar-content.woocommerce-account .woocommerce-MyAccount-navigation li {
	display: inline-block;
	margin: 0 10px;
}

.content-sidebar.woocommerce-account .woocommerce-MyAccount-content,
.sidebar-content.woocommerce-account .woocommerce-MyAccount-content {
	width: 100%;
}

.woocommerce table.my_account_orders .button {
	margin: 5px;
}

/* # WooCommerce Breadcrumb
---------------------------------------------------------------------------------------------------- */
.woocommerce .woocommerce-breadcrumb {
	margin-bottom: 40px;
	font-size: 18px;
	font-size: 1.8rem;
}

.woocommerce .woocommerce-breadcrumb,
.woocommerce .woocommerce-breadcrumb a {
	color: #000000;
}

.woocommerce .woocommerce-breadcrumb a {
	text-decoration: none;
}

.woocommerce .woocommerce-breadcrumb a:focus,
.woocommerce .woocommerce-breadcrumb a:hover {
	color: #0073e5;
}

/* # WooCommerce Reviews
---------------------------------------------------------------------------------------------------- */
.woocommerce #reviews #comments ol.commentlist li img.avatar {
	position: relative;
	width: 60px;
	margin: 0 16px 24px 0;
	padding: 0;
	border: 0;
	background: transparent;
}

.woocommerce #reviews #comments ol.commentlist li .comment-text {
	margin-left: 80px;
	border-color: #eeeeee;
	border-radius: 0;
}

.woocommerce .entry-content #reviews ol > li {
	list-style-type: none;
}

/* # WooCommerce Misc
---------------------------------------------------------------------------------------------------- */
.woocommerce-error,
.woocommerce-info,
.woocommerce-message {
	border-top-color: #0073e5;
	background-color: #f5f5f5;
}

.woocommerce-error:before,
.woocommerce-error:before,
.woocommerce-error:before,
.woocommerce-info:before,
.woocommerce-info:before,
.woocommerce-info:before,
.woocommerce-message:before,
.woocommerce-message:before,
.woocommerce-message:before {
	color: #0073e5;
}

div.woocommerce-info.wc-memberships-restriction-message.wc-memberships-restricted-content-message {
	width: 48%;
}

.woocommerce-message .button.wc-forward {
	width: 100%;
	margin-bottom: 20px;
}

/* # WooCommerce Widgets
---------------------------------------------------------------------------------------------------- */
/* Woo Search
-------------------------------------------------- */
.woocommerce-product-search {
	overflow: hidden;
	width: 100%;
}

.woocommerce-product-search input[type='submit'] {
	clip: rect(0, 0, 0, 0);
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
}

/* Woo Shopping Cart
-------------------------------------------------- */
.woocommerce .widget_shopping_cart ul.cart_list li,
.woocommerce.widget_shopping_cart ul.cart_list li {
	padding-top: 15px;
}

.woocommerce .widget_shopping_cart .cart_list li a.remove,
.woocommerce.widget_shopping_cart .cart_list li a.remove {
	top: 15px;
}

.woocommerce .widget_shopping_cart .total,
.woocommerce.widget_shopping_cart .total {
	border-top: 1px solid #eeeeee;
}

.woocommerce .widget_shopping_cart .buttons a,
.woocommerce.widget_shopping_cart .buttons a {
	margin-bottom: 5px;
}

.woocommerce .widget_shopping_cart .cart_list li.empty,
.woocommerce.widget_shopping_cart .cart_list li.empty {
	padding-left: 0;
}

/* Woo Product Lists
-------------------------------------------------- */
.woocommerce ul.cart_list li img,
.woocommerce ul.product_list_widget li img {
	width: 60px;
}

.sidebar ul.product_list_widget li {
	margin-bottom: 15px;
	padding: 15px 0 0;
	line-height: 1.4;
}

.sidebar ul.product_list_widget li:last-child {
	margin-bottom: 0;
	padding-bottom: 15px;
}

/* Woo Filter
-------------------------------------------------- */
.woocommerce .widget_price_filter .price_slider_wrapper .ui-widget-content,
.woocommerce.widget_price_filter .price_slider_wrapper .ui-widget-content {
	background-color: #eeeeee;
}

.woocommerce .widget_price_filter .ui-slider .ui-slider-range,
.woocommerce.widget_price_filter .ui-slider .ui-slider-range {
	background-color: #0073e5;
}

.woocommerce .widget_price_filter .ui-slider .ui-slider-handle,
.woocommerce.widget_price_filter .ui-slider .ui-slider-handle {
	top: -0.28em;
}

.woocommerce .widget_price_filter .price_slider_amount .button,
.woocommerce.widget_price_filter .price_slider_amount .button {
	font-size: 16px;
	font-size: 1.6rem;
}

.woocommerce .widget_layered_nav ul li.chosen a:before,
.woocommerce .widget_layered_nav_filters ul li a:before,
.woocommerce .widget_rating_filter ul li.chosen a:before {
	color: #0073e5;
}

/* Woo Active Filters
-------------------------------------------------- */
.woocommerce.widget_layered_nav_filters ul li {
	margin: 0 20px 20px 0;
}

/* Woo Recent Reviews
-------------------------------------------------- */
.woocommerce.widget_recent_reviews .reviewer {
	font-size: 12px;
	font-size: 1.2rem;
	letter-spacing: 1px;
	letter-spacing: 0.1rem;
	text-transform: uppercase;
}
@media (min-width: 512px) {
	.woocommerce ul.products li.product .button,
	.woocommerce .woocommerce-ordering,
	.woocommerce-page ul.products li.product .button,
	.woocommerce-page .woocommerce-ordering {
		width: auto;
		margin-right: auto;
	}
	.woocommerce-cart table.cart td.actions .coupon .input-text {
		margin-bottom: 0;
	}
	.woocommerce form .form-row-first,
	.woocommerce-page form .form-row-first,
	.woocommerce #reviews #comments .star-rating {
		float: left;
		width: 47%;
	}
	.woocommerce form .form-row-last,
	.woocommerce-page form .form-row-last {
		float: right;
		width: 47%;
	}
	.woocommerce input.button,
	.woocommerce input.button[type='submit'],
	.woocommerce-cart table.cart td.actions .coupon .input-text {
		width: auto !important;
	}
	.woocommerce-message .button.wc-forward {
		width: auto;
		margin-bottom: 0;
	}
}
@media (min-width: 896px) {
	.full-width-content.woocommerce div.product .woocommerce-tabs ul.tabs {
		padding: 0 0 0 1em;
	}
	.full-width-content.woocommerce div.product .woocommerce-tabs ul.tabs li {
		display: inline-block;
		margin: 0 -5px;
		background-color: #f5f5f5;
	}
	.full-width-content.woocommerce div.product .woocommerce-tabs ul.tabs li.active {
		border-bottom: 1px solid #ffffff;
		background-color: #ffffff;
	}
	.full-width-content.woocommerce div.product .woocommerce-tabs ul.tabs li.active a:after {
		display: none;
	}
}
@media (min-width: 1152px) {
	.woocommerce div.product .woocommerce-tabs ul.tabs {
		padding: 0 0 0 1em;
	}
	.woocommerce div.product .woocommerce-tabs ul.tabs li {
		display: inline-block;
		margin: 0 -5px;
		background-color: #f5f5f5;
	}
	.woocommerce div.product .woocommerce-tabs ul.tabs li.active {
		border-bottom: 1px solid #ffffff;
		background-color: #ffffff;
	}
	.woocommerce div.product .woocommerce-tabs ul.tabs li.active a:after {
		display: none;
	}
}
