////
/// Page imports.
///
/// If you have page-specific styles, it is better to put them in a `pages/` folder,
/// in a file named after the page. For instance, it’s not uncommon to have very
/// specific styles for the home page hence the need for a `_home.scss` file in `pages/`.
///
/// Note — Depending on your deployment process, these files could be called on their
/// own to avoid merging them with the others in the resulting stylesheet. It is really
/// up to you.
///
/// @group  Pages
/// @author Lee Anthony <seothemeswp@gmail.com>
/// @link   http://sass-guidelin.es/#pages-folder
////
@import "home";
@import "single";
@import "archive";
