/* ## Site Footer
--------------------------------------------- */

.site-footer {
	background-color: $color-white;
	line-height: 1.382;
	border-top: 1px solid $color-border;
	padding-bottom: 5%;

	@include breakpoint(sm) {
		padding-bottom: 5%;
	}

	.wrap {
		position: relative;
	}

	p {
		margin-bottom: 0;
	}

	.widget-area {

		@include breakpoint(sm) {
			margin-bottom: 0;
		}
	}

	.back-to-top {
		position: absolute;
		right: 5%;
		bottom: 0;
		width: 25px;
		height: 25px;

		@include breakpoint(sm) {
			right: 0;
		}

		&:before {
			content: " ";
			display: block;
			height: 10px;
			width: 10px;
			margin: 10px auto;
			transform: rotate(-45deg);
			border-top: 2px solid $color-text;
			border-right: 2px solid $color-text;
		}
	}
}
