/* ## Entry Comments
--------------------------------------------- */

.entry-comments {
	margin-bottom: 40px;
	font-size: $comments--font-size;

	@include breakpoint( sm ) {
		margin-bottom: 60px;
	}
}

.comment-list {

	li {
		padding: 40px 0 0 30px;
	}

	.depth-1 {
		padding-left: 0;
	}

	.bypostauthor {
		font-size: inherit;
	}
}

.comment-header {
	margin-bottom: 30px;
}

.comment-content {
	clear: both;

	ul > li {
		list-style-type: disc;
	}
}

.comment-respond {
	margin-bottom: 40px;
	font-size: $comments--font-size;

	@include breakpoint( sm ) {
		margin-bottom: 60px;
	}

	input[type="email"],
	input[type="text"],
	input[type="url"] {
		width: 50%;
	}

	label {
		display: block;
		margin-right: 12px;
	}
}

.comment-header p {
	margin-bottom: 0;
}

.entry-pings {
	margin-bottom: 40px;
	font-size: $comments--font-size;

	@include breakpoint( sm ) {
		margin-bottom: 60px;
	}

	.reply {
		display: none;
	}
}
