/* # Media Queries
---------------------------------------------------------------------------------------------------- */

@media only screen and (min-width: 600px) {

	.woocommerce form .form-row-first,
	.woocommerce-page form .form-row-first,
	.woocommerce #reviews #comments .star-rating {
		float: left;
		width: 47%;
	}

	.woocommerce form .form-row-last,
	.woocommerce-page form .form-row-last {
		float: right;
		width: 47%;
	}

	.woocommerce ul.products li.product .button,
	.woocommerce .woocommerce-ordering,
	.woocommerce-page ul.products li.product .button,
	.woocommerce-page .woocommerce-ordering {
		margin-right: auto;
		width: auto;
	}

	.woocommerce input.button,
	.woocommerce input.button[type="submit"],
	.woocommerce-cart table.cart td.actions .coupon .input-text {
		width: auto !important;
	}

	.woocommerce-message .button.wc-forward {
		margin-bottom: 0;
		width: auto;
	}

	.woocommerce-cart table.cart td.actions .coupon .input-text {
		margin-bottom: 0;
	}

}

@media only screen and (min-width: 960px) {

	.full-width-content.woocommerce div.product .woocommerce-tabs ul.tabs {
		padding: 0 0 0 1em;
	}

	.full-width-content.woocommerce div.product .woocommerce-tabs ul.tabs li {
		background-color: #f5f5f5;
		display: inline-block;
		margin: 0 -5px;
	}

	.full-width-content.woocommerce div.product .woocommerce-tabs ul.tabs li.active {
		background-color: #fff;
		border-bottom: 1px solid #fff;
	}

	.full-width-content.woocommerce div.product .woocommerce-tabs ul.tabs li.active a::after {
		display: none;
	}

}

@media only screen and (min-width: 1140px) {

	.woocommerce div.product .woocommerce-tabs ul.tabs {
		padding: 0 0 0 1em;
	}

	.woocommerce div.product .woocommerce-tabs ul.tabs li {
		background-color: #f5f5f5;
		display: inline-block;
		margin: 0 -5px;
	}

	.woocommerce div.product .woocommerce-tabs ul.tabs li.active {
		background-color: #fff;
		border-bottom: 1px solid #fff;
	}

	.woocommerce div.product .woocommerce-tabs ul.tabs li.active a::after {
		display: none;
	}

}