/* # WooCommerce Product Tabs
---------------------------------------------------------------------------------------------------- */

.woocommerce div.product .woocommerce-tabs ul.tabs {
	padding: 0;

	&:before,
	li {
		border-color: #eee;
	}

	li {
		display: block;
		margin: 0;
		padding: 0;
		border: 1px solid #eee;
		border-bottom: 0;
		border-radius: 0;
		background-color: #fff;

		&:after,
		&:before {
			display: none;
		}

		&:last-child {
			border-bottom: 1px solid #eee;
		}

		&.active {
			border-bottom-color: #eee;
		}

		a {
			display: block;
			padding: 0.5em 1em;
			color: #000;

			&:focus,
			&:hover {
				color: #0073e5;
			}
		}

		&.active a:after {
			display: block;
			float: right;
			font-family: dashicons;
			content: "\f147";
		}
	}
}


@include breakpoint( sm ) {

	.full-width-content.woocommerce div.product .woocommerce-tabs ul.tabs {
		padding: 0 0 0 1em;
	}

	.full-width-content.woocommerce div.product .woocommerce-tabs ul.tabs li {
		display: inline-block;
		margin: 0 -5px;
		background-color: #f5f5f5;
	}

	.full-width-content.woocommerce div.product .woocommerce-tabs ul.tabs li.active {
		border-bottom: 1px solid #fff;
		background-color: #fff;
	}

	.full-width-content.woocommerce div.product .woocommerce-tabs ul.tabs li.active a:after {
		display: none;
	}

}

@include breakpoint(map_get($breakpoints,lg)) {

	.woocommerce div.product .woocommerce-tabs ul.tabs {
		padding: 0 0 0 1em;
	}

	.woocommerce div.product .woocommerce-tabs ul.tabs li {
		display: inline-block;
		margin: 0 -5px;
		background-color: #f5f5f5;
	}

	.woocommerce div.product .woocommerce-tabs ul.tabs li.active {
		border-bottom: 1px solid #fff;
		background-color: #fff;
	}

	.woocommerce div.product .woocommerce-tabs ul.tabs li.active a:after {
		display: none;
	}

}
