// max-widths
$large-screen-width: 1140px;
$standard-screen-width: 960px;
$small-screen-width: 600px;

// font-sizes
$shop-page-navigation-link--font-size: 1.6rem;
$cart-table-td--font-size: 1.8rem;
$forms-button--font-size: 1.6rem;
$forms-quantity-qty--font-size: 2rem;
$account-page-address-title-h3--font-size: 2.6rem;
$breadcrumb-breadcrumb--font-size: 1.8rem;
$widgets-price-filter-price-slider-amount-button--font-size: 1.6rem;
$widgets-recent-reviews-reviewer--font-size: 1.2rem;
