/* # WooCommerce Misc
---------------------------------------------------------------------------------------------------- */

.woocommerce-error,
.woocommerce-info,
.woocommerce-message {
	background-color: #f5f5f5;
	border-top-color: #0073e5;
}

.woocommerce-error::before,
.woocommerce-info::before,
.woocommerce-message::before {
	color: #0073e5;
}

div.woocommerce-info.wc-memberships-restriction-message.wc-memberships-restricted-content-message {
	width: 48%;
}

.woocommerce-message .button.wc-forward {
	margin-bottom: 20px;
	width: 100%;
}


