////
/// Spacing settings.
///
/// @group  Settings
/// @author Lee Anthony <seothemeswp@gmail.com>
/// @link   https://seothemes.com/themes/genesis-starter-theme
////

$spacing--xxxs: $font-size / 8;
$spacing--xxs: $font-size / 5;
$spacing--xs: $font-size / 3;
$spacing--s: $font-size / 2;
$spacing--m: $font-size;
$spacing--l: $font-size * 2;
$spacing--xl: $font-size * 3;
$spacing--xxl: $font-size * 5;
$spacing--xxxl: $font-size * 8;
