////
/// Typography settings.
///
/// @group  Settings
/// @author Lee Anthony <seothemeswp@gmail.com>
/// @link   https://seothemes.com/themes/genesis-starter-theme
////

// Font sizes
$font-size--xxxxs: $font-size / ($scale / 5);
$font-size--xxxs: $font-size / ($scale / 4);
$font-size--xxs: $font-size / ($scale / 3);
$font-size--xs: $font-size / ($scale / 2);
$font-size--s: $font-size / ($scale / 1);
$font-size--m: $font-size;
$font-size--l: $font-size * ($scale * 1);
$font-size--xl: $font-size * ($scale * 2);
$font-size--xxl: $font-size * ($scale * 3);
$font-size--xxxl: $font-size * ($scale * 4);
$font-size--xxxxl: $font-size * ($scale * 5);

$font-sizes: (
	xxxxs: $font-size--xxxxs,
	xxxs: $font-size--xxxs,
	xxs: $font-size--xxs,
	xs: $font-size--xs,
	s: $font-size--s,
	m: $font-size--m,
	l: $font-size--l,
	xl: $font-size--xl,
	xxl: $font-size--xxl,
	xxxl: $font-size--xxxl,
	xxxxl: $font-size--xxxxl,
);

// Font stacks
$font-stack--sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
$font-stack--serif: "Georgia", "Times", "Times New Roman", serif;
$font-stack--monospaced: "Consolas", "monaco", monospace;

// Font families
$font-family--heading: $font-stack--sans-serif;
$font-family--body: $font-stack--sans-serif;
$font-family--code: $font-stack--monospaced;

// Font weights
$font-weight--light: 300;
$font-weight--regular: 400;
$font-weight--semibold: 600;
$font-weight--bold: 700;

// Line height
$line-height--xxxs: $phi / ($scale / 4);
$line-height--xxs: $phi / ($scale / 3);
$line-height--xs: $phi / ($scale / 2);
$line-height--s: $phi / ($scale / 1);
$line-height--m: $phi;
$line-height--l: $phi * ($scale * 1);
$line-height--xl: $phi * ($scale * 2);
$line-height--xxl: $phi * ($scale * 3);
$line-height--xxxl: $phi * ($scale * 4);
