////
/// Typography settings.
///
/// @group  Settings
/// @author Lee Anthony <seothemeswp@gmail.com>
/// @link   https://seothemes.com/themes/genesis-starter-theme
////

// Font sizes
$font-size--xxxxs: modular-scale(-5, $base--font-size);
$font-size--xxxs: modular-scale(-4, $base--font-size);
$font-size--xxs: modular-scale(-3, $base--font-size);
$font-size--xs: modular-scale(-2, $base--font-size);
$font-size--s: modular-scale(-1, $base--font-size);
$font-size--m: modular-scale(0, $base--font-size);
$font-size--l: modular-scale(1, $base--font-size);
$font-size--xl: modular-scale(2, $base--font-size);
$font-size--xxl: modular-scale(3, $base--font-size);
$font-size--xxxl: modular-scale(4, $base--font-size);
$font-size--xxxxl: modular-scale(5, $base--font-size);

$font-sizes: (
	xxxxs: $font-size--xxxxs,
	xxxs: $font-size--xxxs,
	xxs: $font-size--xxs,
	xs: $font-size--xs,
	s: $font-size--s,
	m: $font-size--m,
	l: $font-size--l,
	xl: $font-size--xl,
	xxl: $font-size--xxl,
	xxxl: $font-size--xxxl,
	xxxxl: $font-size--xxxxl,
);

// Font families
$font-family--heading: $font-stack-system;
$font-family--body: $font-stack-system;
$font-family--code: $font-stack-consolas;

// Font weights
$font-weight--light: 300;
$font-weight--regular: 400;
$font-weight--semibold: 600;
$font-weight--bold: 700;

// Line height
$line-height--xxxs: modular-scale(-4, $golden);
$line-height--xxs: modular-scale(-3, $golden);
$line-height--xs: modular-scale(-2, $golden);
$line-height--s: modular-scale(-1, $golden);
$line-height--m: modular-scale(0, $golden);
$line-height--l: modular-scale(1, $golden);
$line-height--xl: modular-scale(2, $golden);
$line-height--xxl: modular-scale(3, $golden);
$line-height--xxxl: modular-scale(4, $golden);
