/* ## Forms
--------------------------------------------- */

input, select, textarea {
	background-color: #fff;
	border: 1px solid #ddd;
	color: #333;
	font-size: 18px;
	font-size: 1.8rem;
	font-weight: 400;
	padding: 15px;
	width: 100%;
}

input:focus, textarea:focus {
	border: 1px solid #999;
	outline: none;
}

input {
	&[type="checkbox"], &[type="image"], &[type="radio"] {
		width: auto;
	}
}

::-moz-placeholder {
	color: #333;
	opacity: 1;
}

::-webkit-input-placeholder {
	color: #333;
}

button {
	background-color: #333;
	border: 0;
	color: #fff;
	cursor: pointer;
	font-size: 16px;
	font-size: 1.6rem;
	font-weight: 600;
	padding: 15px 30px;
	text-align: center;
	text-decoration: none;
	white-space: normal;
	width: auto;
}

input {
	&[type="button"], &[type="reset"], &[type="submit"] {
		background-color: #333;
		border: 0;
		color: #fff;
		cursor: pointer;
		font-size: 16px;
		font-size: 1.6rem;
		font-weight: 600;
		padding: 15px 30px;
		text-align: center;
		text-decoration: none;
		white-space: normal;
		width: auto;
	}
}

.button {
	background-color: #333;
	border: 0;
	color: #fff;
	cursor: pointer;
	font-size: 16px;
	font-size: 1.6rem;
	font-weight: 600;
	padding: 15px 30px;
	text-align: center;
	text-decoration: none;
	white-space: normal;
	width: auto;
}

button {
	&:focus, &:hover {
		background-color: #0073e5;
		color: #fff;
	}
}

input {
	&[type="button"] {
		&:focus, &:hover {
			background-color: #0073e5;
			color: #fff;
		}
	}
	&[type="reset"] {
		&:focus, &:hover {
			background-color: #0073e5;
			color: #fff;
		}
	}
	&[type="submit"] {
		&:focus, &:hover {
			background-color: #0073e5;
			color: #fff;
		}
	}
}

.button {
	&:focus, &:hover {
		background-color: #0073e5;
		color: #fff;
	}
}

.entry-content .button {
	&:focus, &:hover {
		color: #fff;
	}
}

.button {
	display: inline-block;
}

a.button.small, button.small {
	padding: 8px 16px;
}

input {
	&[type="button"].small, &[type="reset"].small, &[type="submit"].small {
		padding: 8px 16px;
	}
}

.site-container {
	button:disabled {
		background-color: #eee;
		border-width: 0;
		color: #777;
		cursor: not-allowed;
		&:hover {
			background-color: #eee;
			border-width: 0;
			color: #777;
			cursor: not-allowed;
		}
	}
	input {
		&:disabled, &[type="button"]:disabled, &[type="reset"]:disabled, &[type="submit"]:disabled {
			background-color: #eee;
			border-width: 0;
			color: #777;
			cursor: not-allowed;
			&:hover {
				background-color: #eee;
				border-width: 0;
				color: #777;
				cursor: not-allowed;
			}
		}
	}
}

input[type="search"] {
	&::-webkit-search-cancel-button, &::-webkit-search-results-button {
		display: none;
	}
}

