/* ## Forms
--------------------------------------------- */

input,
select,
textarea {
	width: 100%;
	padding: 15px;
	border: $border-width $border-style $light-grey;
	color: $form--font-color;
	background-color: $forms__background-color;
	font-size: $form--font-size;
	font-weight: $font-weight--regular;

	&:focus,
	&:focus {
		border: $border-width $border-style $medium-grey;
		outline: none;
	}
}

input[type="checkbox"],
input[type="image"],
input[type="radio"] {
	width: auto;
}

::-moz-placeholder {
	opacity: 1;
	color: $dark-grey;
}

::-webkit-input-placeholder {
	color: $dark-grey;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.button {
	display: inline-block;
	width: auto;
	padding: 15px 30px;
	border: 0;
	color: $button--font-color;
	background-color: $button--background-color;
	font-size: $button--font-size;
	font-weight: $font-weight--semibold;
	white-space: normal;
	text-decoration: none;
	cursor: pointer;

	&:focus,
	&:hover {
		color: $button--font-color-hover;
		background-color: $button--background-color-hover;
	}

	&.small {
		padding: 8px 16px;
	}

	.entry-content {

		&:focus,
		&:hover {
			color: $button--font-color-hover;
		}
	}
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button {
	display: none;
}
