/* ## Headings
--------------------------------------------- */

h1, h2, h3, h4, h5, h6 {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
	line-height: 1.2;
	margin: 0 0 20px;
}

h1 {
	font-size: 30px;
	font-size: 3rem;
}

h2 {
	font-size: 27px;
	font-size: 2.7rem;
}

.entry-content {
	h3, h4 {
		font-weight: 600;
	}
}

h3 {
	font-size: 24px;
	font-size: 2.4rem;
}

h4 {
	font-size: 20px;
	font-size: 2rem;
}

.entry-content h4 {
	margin-top: 40px;
}

h5 {
	font-size: 18px;
	font-size: 1.8rem;
}

h6 {
	font-size: 16px;
	font-size: 1.6rem;
}

