/* ## Headings
--------------------------------------------- */

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0 0 20px;
	font-family: $heading--font-family;
	font-weight: $font-weight--regular;
	line-height: $line-height--small;
}

h1 {
	font-size: $h1--font-size;
}

h2 {
	font-size: $h2--font-size;
}

h3 {
	font-size: $h3--font-size;

	.entry-content & {
		font-weight: $font-weight--semibold;
	}
}

h4 {
	font-size: $h4--font-size;

	.entry-content & {
		margin-top: 4rem;
		font-weight: $font-weight--semibold;
	}
}

h5 {
	font-size: $h5--font-size;
}

h6 {
	font-size: $h6--font-size;
}
