/* ## Screen Reader Text
--------------------------------------------- */

.screen-reader-shortcut,
.screen-reader-text,
.screen-reader-text span {
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	position: absolute !important;
	width: 1px;
	height: 1px;
	border: 0;
	word-wrap: normal !important;
}

.screen-reader-shortcut:focus,
.screen-reader-text:focus,
.widget_search input[type="submit"]:focus {
	display: block;
	clip: auto !important;
	z-index: 100000; /* Above WP toolbar. */
	width: auto;
	height: auto;
	padding: 15px 23px 14px;
	color: $body--font-color;
	background: $body--background-color;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	font-size: 1em;
	font-weight: $font-weight--bold;
	text-decoration: none;
}

.more-link {
	position: relative;
}
