/* ## Tables
--------------------------------------------- */

table {
	width: 100%;
	margin-bottom: 40px;
	border-spacing: 0;
	border-collapse: collapse;
	line-height: 2;
	word-break: break-all;
}

tbody {
	border-bottom: $border-width $border-style $border-color;
}

td {
	padding: 6px;
	border-top: $border-width $border-style $border-color;
	text-align: left;

	&:first-child {
		padding-left: 0;
	}
}

th {
	padding: 0 6px;
	font-weight: $font-weight--regular;
	text-align: left;

	&:first-child {
		padding-left: 0;
	}
}
