/* ## Typographical Elements
--------------------------------------------- */

html {
	font-size: 62.5%;
	/* 10px browser default */
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}

/* Chrome fix */

body {
	> div {
		font-size: 18px;
		font-size: 1.8rem;
	}
	background-color: #fff;
	color: #333;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 18px;
	font-size: 1.8rem;
	font-weight: 400;
	line-height: 1.625;
	margin: 0;
}

button {
	transition: all 0.2s ease-in-out;
}

input {
	&:focus, &[type="button"], &[type="reset"], &[type="submit"] {
		transition: all 0.2s ease-in-out;
	}
}

textarea:focus, .button, .gallery img {
	transition: all 0.2s ease-in-out;
}

a {
	color: #0073e5;
	text-decoration: underline;
	transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
	&:focus, &:hover {
		color: #333;
		text-decoration: none;
	}
}

p {
	margin: 0 0 30px;
	padding: 0;
}

ol, ul {
	margin: 0;
	padding: 0;
}

li {
	list-style-type: none;
}

hr {
	border: 0;
	border-collapse: collapse;
	border-top: 1px solid #eee;
	clear: both;
	margin: 30px 0;
}

b, strong {
	font-weight: 700;
}

blockquote, cite, em, i {
	font-style: italic;
}

mark {
	background: #ddd;
	color: #333;
}

blockquote {
	margin: 30px;
	&::before {
		content: "\201C";
		display: block;
		font-size: 30px;
		font-size: 3rem;
		height: 0;
		left: -20px;
		position: relative;
		top: -10px;
	}
}

