/* ## Typographical Elements
--------------------------------------------- */

html {
	font-size: 62.5%; /* 10px browser default */
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}

/* Chrome fix */
body > div {
	font-size: $body--font-size;
}

body {
	margin: 0;
	color: $body--font-color;
	background-color: $body--background-color;
	font-family: $body--font-family;
	font-size: $body--font-size;
	font-weight: $font-weight--regular;
	line-height: $line-height--normal;
}

button,
input:focus,
input[type="button"],
input[type="reset"],
input[type="submit"],
textarea:focus,
.button,
.gallery img {
	transition: all 0.2s ease-in-out;
}

a {
	color: $link--font-color;
	text-decoration: underline;
	transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

a:focus,
a:hover {
	color: $link--font-color-hover;
	text-decoration: none;
}

p {
	margin: 0 0 30px;
	padding: 0;
}

ol,
ul {
	margin: 0;
	padding: 0;
}

li {
	list-style-type: none;
}

hr {
	clear: both;
	margin: 30px 0;
	border: 0;
	border-top: $border-width $border-style $border-color;
	border-collapse: collapse;
}

b,
strong {
	font-weight: $font-weight--bold;
}

blockquote,
cite,
em,
i {
	font-style: italic;
}

mark {
	background: $mark--background-color;
}

blockquote {
	margin: 30px;

	&:before {
		display: block;
		position: relative;
		top: -10px;
		left: -20px;
		height: 0;
		font-size: 30px;
		font-size: 3rem;
		content: "\201C";
	}
}
