.site-header {
	position: absolute;
	position: fixed;
	width: 100%;
	z-index: 10;
	top: 0;
	left: 0;
	background-color: $color-white;
	border-bottom: 1px solid $color-border;
	@include transition;

	> .wrap {
		@include transition;

		@include breakpoint(sm) {
			padding: 10px 0;
		}

		@include breakpoint(md) {
			padding: 20px 0;
		}
	}

	&.shrink {
		background-color: $color-white;

		> .wrap {
			padding: 0 5%;

			@include breakpoint(sm) {
				padding: 0;
			}
		}
	}

	.custom-header & {
		background-size: cover !important;
		background-position: center !important;
	}
}
