/* ## Title Area
--------------------------------------------- */

.title-area {
	padding: 10px 0;
	margin: 0 auto;
	float: left;

	@include breakpoint(sm) {
		float: left;
		padding: 10px 0;
	}
}

.site-title {
	font-size: $font-size-heading;
	font-family: $font-heading;
	font-weight: $font-weight-bold;
	line-height: $line-height-heading;

	a {
		color: $color-text;
	}

	a:hover,
	a:focus {
		color: $color-accent;
		text-decoration: none;
	}

	@include breakpoint(md) {
		text-align: left;
	}
}

.site-description {
	font-size: $font-size-heading * 0.5;
	line-height: $line-height-heading;

	@include breakpoint(md) {
		text-align: left;
	}
}

.site-description,
.site-title,
.site-header .widget-area {
	margin-bottom: 0;
}

.wp-custom-logo {

	.title-area {
		padding: 10px 0;
		height: 60px;
		width: auto;
		@include transition;

		@include breakpoint(sm) {
			padding: 5px 0;
		}

		@include breakpoint(md) {
			padding: 0;
		}
 	}

 	.shrink .title-area {

		@include breakpoint(md) {
			padding: 10px 0;
		}
 	}

	.custom-logo-link {
		display: block;
		height: 100%;

		img {
			width: auto;
			height: 100%;
			margin: auto;
			vertical-align: middle;

		}
	}
}
