/* ## Footer Menu
--------------------------------------------- */

.nav-secondary {
	margin-top: 10px;

	.genesis-nav-menu {
		line-height: $line-height--medium;
	}

	.menu-item {
		display: inline-block;
	}

	a {
		margin-right: 10px;
		margin-left: 10px;
		padding: 0;
	}
}
