/* ## Primary Navigation
--------------------------------------------- */

.nav-primary {
	width: 100%;
	background-color: $nav-primary--background-color;

	@include breakpoint( sm ) {
		position: relative;
		top: auto;
		left: auto;
		width: auto;
		background-color: transparent;
	}
}
