/* ## Responsive Menu
--------------------------------------------- */

.menu {

	.menu-item:focus {
		position: static;
	}

	.menu-item > a:focus + ul.sub-menu,
	.menu-item.sfHover > ul.sub-menu {
		left: auto;
		opacity: 1;
	}
}

.genesis-responsive-menu {
	display: none;
	position: relative;
	padding-bottom: 15px;

	@media only screen and (min-width: $standard-screen-width) {
		display: block;
	}

	.genesis-nav-menu {

		.menu-item:hover > .sub-menu,
		.menu-item:focus > .sub-menu {
			display: none;
		}

		.sub-menu {
			display: none;
			clear: both;
			position: static;
			z-index: 99;
			left: -9999px;
			width: 100%;
			margin: 0;
			padding-left: 15px;
			opacity: 1;

			@media only screen and (min-width: $standard-screen-width) {
				position: absolute;
				width: 180px;
				padding-left: 0;
				border-top: $border-width $border-style $border-color;
				opacity: 0;
				transition: opacity 0.4s ease-in-out;
			}
		}
	}
}

.menu-toggle {
	display: block;
	visibility: visible;
	float: right;
	overflow: hidden;
	position: relative;
	z-index: 1000;
	margin: 0 auto;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 15px 0;
	border-width: 0;
	color: $menu-toggle--font-color;
	background-color: transparent;
	line-height: $line-height--big;
	text-align: center;

	@media only screen and (min-width: $standard-screen-width) {
		display: none;
	}

	&:focus,
	&:hover {
		border-width: 0;
		color: $menu-toggle--font-color-hover;
		background-color: transparent;
	}

	&.activated:before {
		content: "\f335";
	}

	.site-header &:before {
		float: left;
		position: relative;
		top: 1px;
		margin-right: 5px;
		text-rendering: auto;
	}
}

.sub-menu-toggle {
	display: block;
	visibility: visible;
	float: right;
	overflow: hidden;
	position: absolute;
	z-index: 100;
	top: 0;
	right: 0;
	margin: 0 auto;
	padding: 9px 10px;
	border-width: 0;
	color: $sub-menu-toggle--font-color;
	background-color: transparent;
	text-align: center;

	@media only screen and (min-width: $standard-screen-width) {
		display: none;
	}

	&:focus,
	&:hover {
		border-width: 0;
		color: $sub-menu-toggle--font-color-hover;
		background-color: transparent;
	}

	&:before {
		display: inline-block;
		transition: transform 0.25s ease-in-out;
		-webkit-transform: rotate(0);
		-ms-transform: rotate(0);
		transform: rotate(0);
		text-rendering: auto;
	}

	.sub-menu & {
		padding: 12px 10px;
	}

	&.activated:before {
		-webkit-transform: rotate(180deg);
		-ms-transform: rotate(180deg);
		transform: rotate(180deg);
	}
}
