
.gallery-item {
	float: left;
	margin: 0;
	text-align: center;

	.gallery-columns-1 & {
		width: 100%;
	}

	.gallery-columns-2 & {
		width: 50%;
	}

	.gallery-columns-3 & {
		width: 33%;
	}

	.gallery-columns-4 & {
		width: 25%;
	}

	.gallery-columns-5 & {
		width: 20%;
	}

	.gallery-columns-6 & {
		width: 16.6666%;
	}

	.gallery-columns-7 & {
		width: 14.2857%;
	}

	.gallery-columns-8 & {
		width: 12.5%;
	}

	.gallery-columns-9 & {
		width: 11.1111%;
	}
}
