////
/// Primary screen stylesheet.
///
/// This is the primary stylesheet. We don't actually write any styles here.
/// Instead, we import all of our styles from partials within the sub-folders.
/// This file is set up based on the Inverted Triangle CSS (ITCSS) system,
/// which gets more specific as we drill down each layer.  This keeps your
/// style code lean and organized.
///
/// @group  Styles
/// @author Lee Anthony <seothemeswp@gmail.com>
/// @link   http://sass-guidelin.es/#main-file
////

@import "~bourbon";
@import "settings/_index";
@import "tools/_index";
@import "generic/_index";
@import "elements/_index";
@import "objects/_index";
@import "components/_index";
@import "plugins/_index";
@import "utilities/_index";
