/* ## Hero Section
--------------------------------------------- */

.hero-section {
	position: relative;
	padding: 12rem 0 6rem;
	color: $hero-section--background-color;
	background-position: center;
	background-size: cover;
	text-align: center;

	@include overlay;

	@include breakpoint(sm) {
		padding: 16rem 0 10rem;
	}

	.has-nav-secondary & {

		@include breakpoint(sm) {
			padding: 21rem 0 10rem;
		}
	}

	.wrap {
		position: relative;
		z-index: 1;
	}

	h1 {
		max-width: map-get($breakpoints, sm);
		margin: 0 auto 0.382em;

		@include breakpoint(sm) {
			font-size: $hero-section__h1--font-size;
		}
	}

	p {
		max-width: map-get($breakpoints, sm);
		margin: 0 auto;
	}
}
