/* ## Title Area
--------------------------------------------- */

.title-area {
	display: flex;
	align-items: center;
	height: 6.2rem;

	.wp-custom-logo & {
		width: 100%;
		max-width: 350px;
		padding-top: 5px;
		padding-bottom: 5px;

		img {
			width: auto;
		}
	}
}

.site-title {
	margin-bottom: 0;
	font-size: $site-title--font-size;
	font-weight: $font-weight--semibold;
	line-height: $line-height--smaller;

	a,
	a:focus,
	a:hover {
		color: $site-title__link--font-color;
		text-decoration: none;
	}

	.wp-custom-logo & {

		@include screen-reader-text;
	}
}

.site-description {

	@include screen-reader-text;
}
