////
/// Primary screen stylesheet.
///
/// This is the primary stylesheet. We don't actually write any styles here.
/// Instead, we import all of our styles from partials within the sub-folders.
/// This file is set up based on the Inverted Triangle CSS (ITCSS) system,
/// which gets more specific as we drill down each layer.  This keeps your
/// style code lean and organized.
///
/// The bulk of your code should be within the `/components` folder.  By
/// default, we follow the Block-Element-Modifier (BEM) system in our HTML.
/// Each "block" is a "component" in our CSS.
///
/// @group  Styles
/// @author Lee Anthony <seothemeswp@gmail.com>
/// @link   http://sass-guidelin.es/#main-file
////
@import "abstracts/index";
@import "base/index";
@import "layout/index";
@import "components/index";
@import "pages/index";
@import "theme/index";
@import "vendor/index";
