////
/// Author box component.
///
/// @group  Components
/// @author Lee Anthony <seothemeswp@gmail.com>
/// @link   https://github.com/seothemes/genesis-starter-theme
////

.author-box {
	margin: $gutter 0;
	padding: $gap;
	border: $base--border;
	border-radius: $base--border--radius;
	background-color: $color--background;

	.is-archive & {
		margin-top: 0;
	}

	// Author box title.
	&-title {
		margin-bottom: $spacing--xs;
	}

	// Author box content.
	&-content {
		padding-left: $spacing--xl + $spacing--m;

		p {

			&:last-of-type {
				margin-bottom: 0;
			}
		}
	}
}
