.wp-block-gallery {

	.blocks-gallery-image {
		margin-right: 0;
	}
}

.blocks-gallery-image {
	display: block;
	width: 100%;
	margin: 0 0 6vw;
	text-align: center;

	@include breakpoint(xs) {
		width: map_get($genesis-columns, one-half);
		margin-bottom: map_get($genesis-columns, margin);

		&:nth-of-type(odd) {
			clear: both;
			margin-left: 0;
		}
	}

	@include breakpoint(m) {
		margin-bottom: map_get($genesis-columns, margin);
		margin-left: map_get($genesis-columns, margin);

		&:nth-of-type(odd) {
			margin-left: map_get($genesis-columns, margin);
		}

		.wp-block-gallery.columns-2 & {
			width: map_get($genesis-columns, one-half);
			margin-left: map_get($genesis-columns, margin);

			&:nth-of-type(odd) {
				margin-left: 0;
			}
		}

		.wp-block-gallery.columns-3 & {
			width: map_get($genesis-columns, one-third);

			&:nth-of-type(odd) {
				margin-left: map_get($genesis-columns, margin);
			}

			&:nth-of-type(3n + 1) {
				margin-left: 0;
			}
		}

		.wp-block-gallery.columns-4 & {
			width: map_get($genesis-columns, one-fourth);

			&:nth-of-type(3n + 1) {
				margin-left: map_get($genesis-columns, margin);
			}

			&:nth-of-type(4n + 1) {
				margin-left: 0;
			}
		}

		.wp-block-gallery.columns-5 & {
			width: map_get($genesis-columns, one-fifth);

			&:nth-of-type(4n + 1) {
				margin-left: map_get($genesis-columns, margin);
			}

			&:nth-of-type(5n + 1) {
				margin-left: 0;
			}
		}

		.wp-block-gallery.columns-6 & {
			width: map_get($genesis-columns, one-sixth);

			&:nth-of-type(5n + 1) {
				margin-left: map_get($genesis-columns, margin);
			}

			&:nth-of-type(6n + 1) {
				margin-left: 0;
			}
		}

		.wp-block-gallery.columns-7 & {
			width: map_get($genesis-columns, one-seventh);

			&:nth-of-type(6n + 1) {
				margin-left: map_get($genesis-columns, margin);
			}

			&:nth-of-type(7n + 1) {
				margin-left: 0;
			}
		}

		.wp-block-gallery.columns-8 & {
			width: map_get($genesis-columns, one-eighth);

			&:nth-of-type(7n + 1) {
				margin-left: map_get($genesis-columns, margin);
			}

			&:nth-of-type(8n + 1) {
				margin-left: 0;
			}
		}

		.wp-block-gallery.columns-9 & {
			width: map_get($genesis-columns, one-ninth);

			&:nth-of-type(8n + 1) {
				margin-left: map_get($genesis-columns, margin);
			}

			&:nth-of-type(9n + 1) {
				margin-left: 0;
			}
		}
	}
}
