/* ## Gutenberg
--------------------------------------------- */

.alignwide {
	position: relative;
	left: 50%;
	width: 100vw;
	max-width: map_get($breakpoints, md);
	transform: translate(-50%);

	img {
		display: inline-block;
		margin: 1.618em auto;
	}
}

.alignfull {
	position: relative;
	left: 50%;
	width: 100vw;
	max-width: none;
	margin-left: -50vw;

	.content-sidebar &,
	.sidebar-content & {
		max-width: calc(100% + 12rem);
	}

	img {
		display: inline-block;
		width: 100%;
		margin: 1.618em auto;
	}
}

.wp-block-image {

	figcaption {
		margin: 0 auto 2em;
	}
}

.wp-block-button {
	display: block;
	width: 100%;
	background: transparent;
	text-align: center;

	@include clearfix;

	a {
		display: inline-block;

		&:hover,
		&:focus {
			color: $white;
		}
	}
}

.wp-block-pullquote {

	> p {
		font-family: $base-font;
		font-weight: $font-weight--regular;
	}

	cite {
		font-style: normal;
	}
}

.wp-block-gallery {

	.blocks-gallery-image {
		margin-right: 0;
	}
}

.blocks-gallery-image {
	display: block;
	width: 100%;
	margin: 0 0 6vw;
	text-align: center;

	@include breakpoint(xs) {
		width: $one-half;
		margin-bottom: $margin-left;

		&:nth-of-type(odd) {
			clear: both;
			margin-left: 0;
		}
	}

	@include breakpoint(sm) {
		margin-bottom: $margin-left;
		margin-left: $margin-left;

		&:nth-of-type(odd) {
			margin-left: $margin-left;
		}

		.wp-block-gallery.columns-2 & {
			width: $one-half;
			margin-left: $margin-left;

			&:nth-of-type(odd) {
				margin-left: 0;
			}
		}

		.wp-block-gallery.columns-3 & {
			width: $one-third;

			&:nth-of-type(odd) {
				margin-left: $margin-left;
			}

			&:nth-of-type(3n + 1) {
				margin-left: 0;
			}
		}

		.wp-block-gallery.columns-4 & {
			width: $one-fourth;

			&:nth-of-type(3n + 1) {
				margin-left: $margin-left;
			}

			&:nth-of-type(4n + 1) {
				margin-left: 0;
			}
		}

		.wp-block-gallery.columns-5 & {
			width: $one-fifth;

			&:nth-of-type(4n + 1) {
				margin-left: $margin-left;
			}

			&:nth-of-type(5n + 1) {
				margin-left: 0;
			}
		}

		.wp-block-gallery.columns-6 & {
			width: $one-sixth;

			&:nth-of-type(5n + 1) {
				margin-left: $margin-left;
			}

			&:nth-of-type(6n + 1) {
				margin-left: 0;
			}
		}

		.wp-block-gallery.columns-7 & {
			width: $one-seventh;

			&:nth-of-type(6n + 1) {
				margin-left: $margin-left;
			}

			&:nth-of-type(7n + 1) {
				margin-left: 0;
			}
		}

		.wp-block-gallery.columns-8 & {
			width: $one-eighth;

			&:nth-of-type(7n + 1) {
				margin-left: $margin-left;
			}

			&:nth-of-type(8n + 1) {
				margin-left: 0;
			}
		}

		.wp-block-gallery.columns-9 & {
			width: $one-ninth;

			&:nth-of-type(8n + 1) {
				margin-left: $margin-left;
			}

			&:nth-of-type(9n + 1) {
				margin-left: 0;
			}
		}
	}
}
