/* WordPress Editor
--------------------------------------------- */

.has-light-gray-background-color {
	background-color: $lightest-grey;
}

.has-light-gray-color {
	color: $lightest-grey;
}

.has-medium-gray-background-color {
	background-color: $medium-grey;
}

.has-medium-gray-color {
	color: $medium-grey;
}

.has-dark-gray-background-color {
	background-color: $dark-grey;
}

.has-dark-gray-color {
	color: $dark-grey;
}
