/* ## Site Containers
--------------------------------------------- */

.wrap {
	margin: 0 auto;
	padding-left: 5%;
	padding-right: 5%;

	@include breakpoint(sm) {
		width: 90%;
		max-width: 1300px;
		padding: 0;
	}

	.wrap {
		max-width: 100%;
		width: auto;
		padding: 0;
	}
}

.site-inner {
	clear: both;
	padding: 10% 0;
	word-wrap: break-word;

	@include breakpoint(sm) {
		padding: 5% 0;
	}
}

.site-inner,
.page-widget-area {

	.wrap {
		max-width: 1300px;

		.narrow & {
			max-width: 860px;
		}

		.wide & {
			max-width: 90%;
			padding: 0;
		}
	}
}
