/* WooCommerce Breadcrumb
---------------------------------------------------------------------------------------------------- */

.woocommerce {

	.woocommerce-breadcrumb {
		margin-bottom: 40px;
		color: #000;
		font-size: 18px;
		font-size: 1.8rem;

		a {
			color: #000;
			text-decoration: none;

			&:focus,
			&:hover {
				color: #0073e5;
			}
		}
	}
}
