/* WooCommerce Cart Page
---------------------------------------------------------------------------------------------------- */

.woocommerce {

	table.shop_table {

		&,
		td {
			border-color: #eee;
			border-radius: 0;
			line-height: 1.75;
			word-break: normal;
		}

		.order-number {
			min-width: 75px;
		}

		td.actions {
			padding-top: 15px;
		}
	}
}

.woocommerce-cart {

	table.cart {
		line-height: 1.75;

		td {
			padding: 10px 12px;
			font-size: 18px;
			font-size: 1.8rem;
		}

		.product-thumbnail {
			min-width: 56px;
		}

		th.product-name {
			min-width: 140px;
		}

		td.actions .coupon .input-text {
			font-size: 18px;
			font-size: 1.8rem;

			@media only screen and (max-width: $small-screen-width) {
				width: 100% !important;
				margin-bottom: 10px;
				background-color: #fff;
			}
		}
	}

	table.cart th.product-price,
	table.cart th.product-quantity,
	table.cart th.product-subtotal,
	.woocommerce-checkout-review-order-table th.product-total {
		min-width: 110px;
	}

	td.product-name dl.variation dd {
		margin-left: 20px;
	}
}

.woocommerce-cart,
.woocommerce-checkout,
#add_payment_method {

	table.cart img {
		vertical-align: middle;
	}
}
