/* WooCommerce Forms
---------------------------------------------------------------------------------------------------- */

.woocommerce {

	a.button,
	a.button.alt,
	button.button,
	button.button.alt,
	input.button,
	input.button.alt,
	input.button[type="submit"],
	#respond input#submit,
	#respond input#submit.alt {
		width: auto;
		padding: 15px 20px;
		border: 0;
		border-radius: 0;
		color: #fff;
		background-color: #333;
		font-size: 16px;
		font-size: 1.6rem;
		font-weight: 600;
		text-align: center;
		white-space: normal;
		text-decoration: none;
		cursor: pointer;

		&:hover,
		&:focus {
			color: #fff;
			background-color: #0073e5;
		}
	}

	@media only screen and (max-width: $small-screen-width) {

		input.button,
		input.button[type="submit"] {

			.woocommerce-cart table.cart td.actions .coupon .input-text {
				width: 100% !important;
			}
		}
	}

	#reviews #comment {
		height: 150px;

		@media only screen and (max-width: $small-screen-width) {

			.star-rating {
				float: none;
				width: 100%;
			}
		}
	}

	.quantity .qty {
		width: 70px;
		margin-right: 5px;
		padding: 12px 5px;
		font-size: 20px;
		font-size: 2rem;
		line-height: 1.5;
	}

	form {

		.form-row {

			input.input-text,
			textarea {
				padding: 8px 20px;
				line-height: 1.5;
			}
		}

		@media only screen and (max-width: $small-screen-width) {

			.form-row-first,
			.form-row-last {
				float: none;
				width: 100%;
			}
		}
	}

	form {

		&.checkout_coupon,
		&.login,
		&.register,
		.form-row .select2-container,
		.form-row.woocommerce-validated input.input-text,
		.form-row.woocommerce-validated select,
		.form-row.woocommerce-validated .select2-container {
			border-color: #eee;
			border-radius: 0;
		}
	}

	.coupon {
		line-height: 1;

		.input-text {
			height: 48px;
		}
	}
}

.woocommerce-page {

	@media only screen and (max-width: $small-screen-width) {

		form {

			.form-row-first,
			.form-row-last {
				float: none;
				width: 100%;
			}
		}

		ul.products li.product,
		ul.products li.product .button,
		.woocommerce-ordering {
			width: 100%;
			margin-right: 0;
		}
	}
}

.woocommerce .woocommerce-ordering {

	@media only screen and (max-width: $small-screen-width) {
		width: 100%;
		margin-right: 0;
	}
}

.woocommerce-cart,
.woocommerce-checkout,
#add_payment_method {

	table.cart td.actions .coupon .input-text {
		width: 150px;
		padding: 5px 20px;
		border-color: #eee;
	}
}

.woocommerce-cart,
.woocommerce-checkout,
#add_payment_method {

	table.cart input {
		vertical-align: top;
	}
}
