/* WooCommerce Product
---------------------------------------------------------------------------------------------------- */

.woocommerce {

	div.product {

		p,
		span {

			&.price {
				color: #0073e5;
				line-height: 1.5;
			}
		}

		form.cart {

			.button {
				line-height: 1.5;
			}

			.variations {
				table-layout: fixed;
			}
		}
	}

	.woocommerce-variation-price {
		margin-bottom: 20px;
	}
}
