.genesis-responsive-menu {
	display: none;
	position: relative;

	@include breakpoint(m) {
		display: block;
	}

	.menu {
		clear: both;
		width: 100%;
		line-height: 1;
	}

	.genesis-nav-menu {

		.menu-item:hover > .sub-menu,
		.menu-item:focus > .sub-menu {
			display: none;
		}

		.sub-menu {
			display: none;
			clear: both;
			position: static;
			z-index: 99;
			left: -9999px;
			width: 100%;
			margin: 0;
			padding-left: 15px;
			opacity: 1;

			@include breakpoint(m) {
				position: absolute;
				width: 180px;
				padding-left: 0;
				border-top: $border;
				opacity: 0;
				transition: opacity 0.4s ease-in-out;
			}
		}
	}
}
