.sub-menu-toggle {
	position: relative;
	width: 3.6rem;
	height: 3.6rem;
	padding: 0;
	background: $sub-menu-toggle--background-color;

	@include breakpoint(m) {
		display: none;
	}

	&:hover,
	&:focus {
		background: none;
	}

	&:before,
	&:after {
		display: block;
		position: absolute;
		width: 0.8rem;
		height: 2px;
		background-color: $dark-grey;
		content: "";
	}

	&:before {
		left: 1.2rem;
		transform: rotate(45deg);
	}

	&:after {
		right: 1.2rem;
		transform: rotate(-45deg);
	}

	&.activated {

		&:before {
			left: 1.2rem;
			transform: rotate(-45deg);
		}

		&:after {
			right: 1.2rem;
			transform: rotate(45deg);
		}

	}
}
