.sub-menu {
	display: block;
	clear: both;
	position: static;
	z-index: 99;
	width: 100%;
	margin: 0;
	padding-left: 15px;
	opacity: 1;

	@include breakpoint(m) {
		position: absolute;
		width: 180px;
		padding-left: 0;
		border-top: $border;
		opacity: 0;
		transition: opacity $transition;
	}

	&:focus-within {
		opacity: 1;
	}

	a {
		position: relative;
		background-color: $genesis-nav-menu__sub-menu__link--background-color;
		font-size: $genesis-nav-menu__sub-menu__link--font-size;
		word-wrap: break-word;

		@include breakpoint(m) {
			width: 180px;
			padding: 1em;
			border: $border;
			border-top: 0;
		}
	}

	.sub-menu {

		@include breakpoint(m) {
			margin: -46px 0 0 179px;
		}
	}
}
