/* ## Featured Content
--------------------------------------------- */

.featured-content {

	.entry {
		margin-bottom: 20px;
		border-bottom: $border;

		&:last-of-type {
			margin-bottom: 0;
			border-bottom: none;
		}
	}

	.entry-image {
		width: 75px;
		height: 75px;
	}

	.entry-title {
		margin-top: 10px;
		margin-bottom: 5px;
		font-size: $featured-content__entry-title--font-size;
	}
}
