////
/// Avatar component.
///
/// @group  Components
/// @author Lee Anthony <seothemeswp@gmail.com>
/// @link   https://github.com/seothemes/genesis-starter-theme
////

.avatar {
	float: left;
	max-width: $spacing--xl;
	margin-right: $spacing--m;
}
