////
/// Content component.
///
/// @group  Components
/// @author Lee Anthony <seothemeswp@gmail.com>
/// @link   https://github.com/seothemes/genesis-starter-theme
////

.content {
	width: 100%;

	@include margin($spacing--m null);

	@include mq(m) {

		@include margin($spacing--l null);
	}

	.content-sidebar &,
	.sidebar-content &,
	.center-content & {

		@include mq(m) {
			width: $layout--width--content;
		}
	}

	.sidebar-content & {

		@include mq(m) {
			order: 1;
		}
	}

	.center-content & {

		@include margin(null auto);
	}

	.full-width-content & {}

	.front-page &,
	.page-template-page-full & {
		margin: 0;
	}
}
