////
/// Entry component.
///
/// @group  Components
/// @author Lee Anthony <seothemeswp@gmail.com>
/// @link   https://github.com/seothemes/genesis-starter-theme
////

.footer-widget-area {

	@include mq(m) {
		flex: 1;
		margin-left: $spacing--l;

		&:first-of-type {
			margin-left: 0;
		}
	}
}
