////
/// Menu component.
///
/// @group  Components
/// @author Lee Anthony <seothemeswp@gmail.com>
/// @link   https://github.com/seothemes/genesis-starter-theme
////

.menu {
	margin: 0;
	background-color: $color--white;
	list-style-type: none;

	@include border($base--border null);

	@include mq(m) {
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-end;
		align-items: center;
		border: 0;
	}

	.no-js & {
		width: 100%;
		border: 0;
		transition: all 0.2s ease;
	}

	// Menu item.
	&-item {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-between;
		width: 90%;
		padding: $spacing--xs 0;

		@include margin(null auto);

		@include mq($until: m) {

			.no-js & {
				width: 100%;
				padding: 0;
			}
		}

		@include mq(m) {
			display: block;
			width: auto;
			margin: 0;
			padding: $spacing--m $spacing--s * $golden;

			&:last-of-type {
				padding-right: 0;
			}

			&:first-of-type {
				padding-left: 0;
			}
		}

		&.button {
			padding: 0;

			@include mq(m) {
				margin-left: $spacing--m;
			}
		}
	}

	// Link
	a {
		color: $color--gray-80;
	}

	a:hover,
	a:focus,
	.current-menu-item > a {
		color: $color--primary;
	}

	// Menu toggle.
	&-toggle {
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 0;
		padding: 0;
		background-color: transparent;

		@include size($spacing--m * $perfect-fifth);

		@include mq(m) {
			display: none;
		}

		@include hover-focus {
			background-color: transparent;
		}

		&:focus {
			outline: $base--border;
		}

		.hamburger,
		.hamburger:before,
		.hamburger:after {
			display: block;
			position: absolute;
			width: $spacing--m * $perfect-fifth;
			height: 3px;
			background-color: $color--gray-80;
			content: "";
		}

		.hamburger {
			top: auto;
			right: auto;
			bottom: auto;
			margin: auto;

			&:before {
				top: -$spacing--s;
			}

			&:after {
				bottom: -$spacing--s;
			}
		}

		&.activated {

			.hamburger {
				background-color: transparent;

				&:before {
					top: 0;
					transform: rotate(45deg);
				}

				&:after {
					bottom: 0;
					transform: rotate(-45deg);
				}
			}
		}
	}
}
