////
/// Nav Primary component.
///
/// @group  Components
/// @author Lee Anthony <seothemeswp@gmail.com>
/// @link   https://github.com/seothemes/genesis-starter-theme
////

.nav-primary {
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	width: 100vw;

	@include mq(m) {
		display: flex !important;
		position: relative;
		top: auto;
		width: auto;
	}

	.no-js & {
		display: flex;
		position: relative;
	}
}
