/* ## Avatar
--------------------------------------------- */

.avatar {
	border-radius: 50%;
	float: left;
}

.author-box .avatar,
.alignleft .avatar {
	margin-right: 24px;
}

.alignright .avatar {
	margin-left: 24px;
}

.comment .avatar {
	margin: 0 16px 24px 0;
}

/* ## Genesis
--------------------------------------------- */

.breadcrumb {
	padding: 1.25em 0;
	font-size: $font-size-body * .9;
	font-weight: $font-weight-bolder;
	color: $color-grey;
	float: left;
	height: 6rem;
	width: 100%;

	.home & {
		display: none;
	}

	.wrap {
		position: relative;

		&:before {
			content: "\f237";
			font-family: 'FontAwesome';
			display: inline;
			margin-right: 0.5em;
		}
	}

	a {
		color: $color-body;
		text-decoration: underline;
		font-size: $font-size-body * 0.75;
	}
}

.after-entry,
.author-box {
	font-size: $font-size-body * 1.1;
	margin-bottom: 5%;

	@include breakpoint(sm) {
		margin-bottom: 40px;
	}
}

.archive-description p:last-child,
.author-box p:last-child {
	margin-bottom: 0;
}

/* ## Search Form
--------------------------------------------- */

.search-form {
	display: block;
	width: 100%;
	position: relative;
	@include clearfix;

	&:before {
		content: "\f002";
		font-family: 'FontAwesome';
		display: block;
		position: absolute;
		top: calc( 50% - 0.5em );
		line-height: 1em;
		left: 1em;
		pointer-events: none;
	}

	input[type="search"] {
		font-size: $font-size-body * .9;
		float: left;
		width: 100%;
		padding: 1rem 3rem 1rem 4rem;
	}

	input[type="submit"] {
		float: right;
		display: none;
		width: 30%;
		padding-left: 0;
		padding-right: 0;
	}

	.entry-content & {
		margin-bottom: 40px;
		width: 50%;
	}
}

/* ## Titles
--------------------------------------------- */

.author-box-title {
	font-size: 20px;
	font-size: 2rem;
}

.entry-title {

	a {
		color: $color-heading;
		text-decoration: none;
		font-family: $font-heading;
		font-size: $font-size-heading * 1.4;

		&:hover {
			color: $color-accent;
		}

		@include breakpoint(xs) {
			font-size: $font-size-heading * 1.7;
		}

		@include breakpoint(md) {
			font-size: $font-size-heading * 2;
		}
	}
}

/* ## WordPress
--------------------------------------------- */

a.aligncenter img {
	display: block;
	margin: 0 auto;
}

a.alignnone {
	display: inline-block;
}

.alignleft {
	float: left;
	text-align: left;
}

.alignright {
	float: right;
	text-align: right;
}

a.alignleft,
a.alignnone,
a.alignright {
	max-width: 100%;
}

img.centered,
.aligncenter {
	display: block;
	margin: 0 auto 24px;
}

img.alignnone,
.alignnone {
	margin-bottom: 12px;
}

a.alignleft,
img.alignleft,
.wp-caption.alignleft {
	margin: 0 24px 24px 0;
}

a.alignright,
img.alignright,
.wp-caption.alignright {
	margin: 0 0 24px 24px;
}

.wp-caption-text {
	font-size: 14px;
	font-size: 1.4rem;
	margin: 0;
	text-align: center;
}

.entry-content {

	p.wp-caption-text {
		margin-bottom: 0;
	}

	.wp-audio-shortcode,
	.wp-playlist,
	.wp-video {
		margin: 0 0 28px;
	}
}

a.post-edit-link {
	display: none;
}

.sticky,
.bypostauthor {
	background-color: transparent;
}
