/* Footer Widgets
---------------------------------------------------------------------------------------------------- */

.footer-widgets {
	clear: both;
	padding: 60px 0;
	border-top: $border-width $border-style $border-color;
	background-color: $footer-widgets--background-color;
	font-size: $footer-widgets--font-size;

	.wrap {
		margin-right: auto;
		margin-left: auto;

		@media only screen and (min-width: $standard-screen-width) {
			max-width: 1140px;
		}
	}

	.widget:last-child {
		margin-bottom: 0;
	}
}

.footer-widget-area {
	margin-bottom: 40px;
	padding-right: 30px;
	padding-left: 30px;

	@media only screen and (min-width: $standard-screen-width) {
		float: left;
		width: 33.33%;

		/* fallback for older browsers */
		width: calc(100% / 3);
		margin-bottom: 0;
	}

	&:last-child {
		margin-bottom: 0;
	}
}
