/* ## Front Page
--------------------------------------------- */

div[class*="front-page-"] {
	padding: 5rem 0;

	@include breakpoint(sm) {
		padding: 10rem 0;
	}

	&:nth-of-type(even) {
		//background-color: $color-light;
		border-bottom: $border;
		border-top: $border;
	}
}

section.front-page-1 {
	background-color: $color-light;
	background-size: cover !important;
	background-position: center !important;
	padding: 10rem 0;
	text-align: center;
	position: relative;
	@include clearfix;

	@include breakpoint(xs) {
		padding: 12rem 0;
	}

	@include breakpoint(sm) {
		padding: 14rem 0;
		text-align: left;
	}

	@include breakpoint(md) {
		padding: 16rem 0;
		text-align: left;
	}

	&:before {
		content: " ";
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		background-color: $color-body;
		z-index: 1;
		opacity: 0;
	}

	.wrap {
		position: relative;
		z-index: 1;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		margin-bottom: 0.382em;
	}

	.intro {
		margin-bottom: 1.382em;
	}
}

.home {

	.wp-custom-header {
		position: absolute;
		height: 100%;
		width: 100%;
		top: 0;
		left: 0;
		z-index: 0;
		overflow: hidden;

		img,
		video,
		iframe {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			margin: auto;
			width: auto;
			height: auto;
			min-height: 100%;
			min-width: 100%;
			max-width: none;
			max-height: none;
			object-fit: cover;
		}

		img {
			display: none;
		}

		iframe {
			left: -25%;
			right: -25%;
			height: 150%;
			width: 150%;
		}
	}
}
