/* Gutenberg
---------------------------------------------------------------------------------------------------- */

.alignfull {
	display: block;
	position: relative;
	left: 50%;
	width: 100vw !important;
	margin-right: 0 !important;
	margin-left: 0 !important;
	transform: translateX(-50%);
}

.alignwide {
	position: relative;
	width: 120%;
	margin-right: 0 !important;
	margin-left: 0 !important;
	transform: translateX(-10%);
}
