/* ## Site Header
--------------------------------------------- */

.site-header {
    position: absolute;
    width: 100%;
    z-index: 100;
    background-color: $white;
    border-bottom: $site-border;
    .fixed-header & {
        position: fixed;
    }
    >.wrap {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        @include breakpoint(md) {
            padding: 0;
            flex-wrap: nowrap;
        }
    }
}


/* ## Title Area
--------------------------------------------- */

.title-area {
    margin: 0 auto 0 0;
    position: relative;
    height: 100%;
    display: block;
    flex: 1;
    padding: 0.618em 0;
    max-width: 18rem;
    @include transition;
    @include breakpoint(md) {
        padding: 1.382em 0;
        max-width: 24rem;
    }
    @include breakpoint(lg) {
        padding: 1.618em 0;
        max-width: 24rem;
    }
    .fixed-header .shrink & {
        padding: 0.382em 0;
    }
}

.site-title {
    font-size: 2.4rem;
    font-family: $font-heading;
    font-weight: $bold;
    line-height: 1;
    margin-bottom: 0;
    @include breakpoint(md) {
        font-size: 3rem;
    }
    a {
        color: $dark;
        text-decoration: none;
    }
}

.site-description {
    font-size: 1.4rem;
    margin-bottom: 0;
    line-height: 1;
    @include breakpoint(md) {
        text-align: left;
        font-size: 1.6rem;
        line-height: 1.382;
    }
}


/* ## Header Right
--------------------------------------------- */

.header-widget-area {
    .widget {
        &:last-of-type {
            margin-bottom: 0;
        }
    }
}


/* ## Page Header
--------------------------------------------- */

.page-header {
    width: 100%;
    margin: 0 auto;
    padding: calc(6vw + 7rem) 0 6vw;
    background-size: cover;
    background-position: center;
    position: relative;
    @include breakpoint(md) {
        padding: 17rem 0 6rem;
    }
    @include breakpoint(lg) {
        padding: 18rem 0 6rem;
    }
    &:before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba($white, 0.95);
        z-index: 1;
    }
    .has-nav-secondary & {
        @include breakpoint(md) {
            padding-top: 23rem;
        }
        @include breakpoint(lg) {
            padding-top: 25rem;
        }
    }
    .wrap {
        position: relative;
        z-index: 2;
    }
    h1 {
        width: 100%;
        margin-bottom: 0;
        text-transform: capitalize;
    }
    p {
        width: 100%;
        margin: 1em 0 0;
    }
    .widget {
        background: transparent;
    }
}

