/* ## Front Page
--------------------------------------------- */

.front-page-1,
.front-page-2,
.front-page-3,
.front-page-4,
.front-page-5 {
    width: 100%;
    padding: 6rem 0;
    background-color: $white;
    border-bottom: $site-border;
    position: relative;
    @include breakpoint(sm) {
        padding: 6rem 0 2rem;
    }
    .wrap {
        @include breakpoint(sm) {
            display: flex;
            flex-wrap: wrap;
        }
    }
}

.front-page-1 {
    padding: calc(20vw + 7rem) 0 20vw;
    position: relative;
    background-color: $dark;
    @include clearfix;
    @include breakpoint(sm) {
        padding: calc(20vh + 12rem) 0 20vh;
    }
    @include breakpoint(md) {
        padding: calc(20vh + 12rem) 0 20vh;
    }
    @include breakpoint(lg) {
        padding: calc(20vh + 12rem) 0 20vh;
    }
    .wrap {
        position: relative;
        text-align: center;
        @include breakpoint(md) {
            max-width: map-get($breakpoints, sm);
        }
    }
    .widget {
        background-color: transparent;
        &:last-of-type {
            margin-bottom: 1rem; // For heading line height.
        }
    }
    h1 {
        margin: 0 0 0.618em;
    }
    p {
        margin: 0 0 1.382em;
    }
}


/* ## Custom Header
--------------------------------------------- */

.wp-custom-header {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    img,
    video,
    iframe {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        width: auto;
        height: auto;
        min-height: 100%;
        min-width: 100%;
        max-width: 100%;
        max-height: none;
        object-fit: cover;
    }
    iframe {
        left: -25%;
        right: -25%;
        height: 150%;
        width: 150%;
    }
}