/* Plugins
---------------------------------------------------------------------------------------------------- */

/* Genesis eNews Extended
--------------------------------------------- */

.enews {

	form + p {
		margin-top: 20px;
	}

	.after-entry & {
		padding: 10px;
		text-align: center;

		@media only screen and (min-width: $standard-screen-width) {
			padding-right: 30px;
			padding-left: 30px;
		}
	}

	.sidebar & {
		padding: 30px;
		background-color: $enews__sidebar--background-color;
	}
}

.enews-widget {

	input {
		margin-bottom: 10px;
		font-size: $enews-widget__input--font-size;
	}

	input[type="submit"] {
		width: 100%;
		margin: 0;
	}

	.after-entry & input {
		text-align: center;
	}
}

/* Genesis Simple FAQ
--------------------------------------------- */

.gs-faq__question {
	padding-right: 0;
	padding-left: 0;
	border-bottom: $border-width $border-style $border-color;
	color: $gs-faq__question--font-color;
	background: transparent;

	&:focus,
	&:hover {
		color: $gs-faq__question--font-color-hover;
		background: transparent;
	}

	&:after {
		float: right;
		font-family: dashicons;
		content: "\f132";
	}

	&.gs-faq--expanded:after {
		content: "\f460";
	}
}

/* Jetpack
--------------------------------------------- */

#wpstats {
	display: none;
}
