/* Site Header
---------------------------------------------------------------------------------------------------- */

/* Site Header
---------------------------------------------- */

.site-header {
	position: fixed;
	z-index: 9999;
	width: 100%;
	padding: 0 30px;
	background-color: $site-header--background-color;
	box-shadow: 0 0 $box-shadow-blur-radius rgba(0, 0, 0, $box-shadow-opacity);
}

/* Title Area
--------------------------------------------- */

.title-area {
	float: left;
	padding-top: 25px;
	padding-bottom: 25px;

	.wp-custom-logo & {
		max-width: 350px;
		padding-top: 5px;
		padding-bottom: 5px;
	}
}

.site-title {
	margin-bottom: 0;
	font-size: $site-title--font-size;
	font-weight: $font-weight--bold;
	line-height: $line-height--smaller;

	a,
	a:focus,
	a:hover {
		color: $site-title__link--font-color;
		text-decoration: none;
	}

	.wp-custom-logo & {
		overflow: hidden;
		clip: rect(0, 0, 0, 0);
		position: absolute !important;
		width: 1px;
		height: 1px;
		border: 0;
		word-wrap: normal !important;
	}
}

.site-description {
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	position: absolute !important;
	width: 1px;
	height: 1px;
	border: 0;
	word-wrap: normal !important;
}
