/* Site Navigation
---------------------------------------------------------------------------------------------------- */

.genesis-nav-menu {
	clear: both;
	width: 100%;
	line-height: 1;

	.menu-item {
		display: block;
		float: none;
		position: relative;

		@media only screen and (min-width: $standard-screen-width) {
			display: inline-block;
		}
	}

	.menu-item:focus,
	.menu-item:hover {
		position: relative;

		@media only screen and (min-width: $standard-screen-width) {
			position: relative;
		}
	}

	.menu-item:hover > .sub-menu {
		left: auto;
		opacity: 1;
	}

	> .menu-bold > a {

		@media only screen and (min-width: $standard-screen-width) {
			font-weight: $font-weight--bolder;
		}
	}

	> .menu-highlight > a {

		@media only screen and (min-width: $standard-screen-width) {
			margin-left: 15px;
			padding-right: 20px;
			padding-left: 20px;
			border-radius: 3px;
			color: $menu-highlight__link--font-color;
			background-color: $menu-highlight__link--background-color;
			font-weight: $font-weight--bold;
		}
	}

	> .menu-highlight > a:hover,
	> .menu-highlight > a:focus {

		@media only screen and (min-width: $standard-screen-width) {
			background-color: $menu-highlight__link--background-color-hover;
		}
	}

	a {
		display: block;
		padding-top: 12px;
		padding-bottom: 12px;
		outline-offset: -1px;
		color: $genesis-nav-menu--font-color;
		font-size: $genesis-nav-menu--font-size;
		font-weight: $font-weight--normal;
		text-decoration: none;
	}

	a:focus,
	a:hover,
	.current-menu-item > a,
	.sub-menu .current-menu-item > a:focus,
	.sub-menu .current-menu-item > a:hover {
		color: $genesis-nav-menu--font-color-hover;
		text-decoration: none;
	}

	.sub-menu {
		display: none;
		clear: both;
		position: static;
		z-index: 99;
		left: -9999px;
		width: auto;
		margin: 0;
		padding-left: 15px;
		opacity: 1;

		@media only screen and (min-width: $standard-screen-width) {
			position: absolute;
			padding-left: 0;
			border-top: $border-width $border-style $border-color;
			opacity: 0;
			transition: opacity 0.4s ease-in-out;
		}

		li {
			width: 100%;
		}

		a {
			position: relative;
			width: 100%;
			background-color: $genesis-nav-menu__sub-menu__link--background-color;
			font-size: $genesis-nav-menu__sub-menu__link--font-size;
			white-space: nowrap;

			@media only screen and (min-width: $standard-screen-width) {
				padding-top: 15px;
				padding-bottom: 15px;
				border: $border-width $border-style $border-color;
				border-top: 0;
			}
		}

		.submenu {

			@media only screen and (min-width: $standard-screen-width) {
				margin: -46px 0 0 179px;
			}
		}
	}
}

.genesis-responsive-menu {

	@media only screen and (min-width: $standard-screen-width) {
		display: block;
		padding-top: 15px;
	}

	.genesis-nav-menu {

		.submenu,
		.submenu a {

			@media only screen and (min-width: $standard-screen-width) {
				width: 180px;
			}
		}
	}
}

/* Responsive Menu
--------------------------------------------- */

.menu {

	.menu-item:focus {
		position: static;
	}

	.menu-item > a:focus + ul.sub-menu,
	.menu-item.sfHover > ul.sub-menu {
		left: auto;
		opacity: 1;
	}
}

.genesis-responsive-menu {
	display: none;
	position: relative;
	padding-bottom: 15px;
}

.menu-toggle {
	display: block;
	visibility: visible;
	float: right;
	overflow: hidden;
	position: relative;
	z-index: 1000;
	margin: 0 auto;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 15px 0;
	border-width: 0;
	color: $menu-toggle--font-color;
	background-color: transparent;
	line-height: $line-height--big;
	text-align: center;

	@media only screen and (min-width: $standard-screen-width) {
		display: none;
	}

	&:focus,
	&:hover {
		border-width: 0;
		color: $menu-toggle--font-color-hover;
		background-color: transparent;
	}

	&.activated:before {
		content: "\f335";
	}

	.site-header &:before {
		float: left;
		position: relative;
		top: 1px;
		margin-right: 5px;
		text-rendering: auto;
	}
}

.sub-menu-toggle {
	display: block;
	visibility: visible;
	float: right;
	overflow: hidden;
	position: absolute;
	z-index: 100;
	top: 0;
	right: 0;
	margin: 0 auto;
	padding: 9px 10px;
	border-width: 0;
	color: $sub-menu-toggle--font-color;
	background-color: transparent;
	text-align: center;

	@media only screen and (min-width: $standard-screen-width) {
		display: none;
	}

	&:focus,
	&:hover {
		border-width: 0;
		color: $sub-menu-toggle--font-color-hover;
		background-color: transparent;
	}

	&:before {
		display: inline-block;
		transition: transform 0.25s ease-in-out;
		-webkit-transform: rotate(0);
		-ms-transform: rotate(0);
		transform: rotate(0);
		text-rendering: auto;
	}

	.sub-menu & {
		padding: 12px 10px;
	}

	&.activated:before {
		-webkit-transform: rotate(180deg);
		-ms-transform: rotate(180deg);
		transform: rotate(180deg);
	}
}

/* Header Menu
--------------------------------------------- */

.nav-primary {
	clear: left;
	width: 100%;

	@media only screen and (min-width: $standard-screen-width) {
		float: right;
		clear: none;
		width: auto;
	}

	.genesis-nav-menu a {

		@media only screen and (min-width: $standard-screen-width) {
			padding-right: 15px;
			padding-left: 15px;
		}
	}
}

/* Footer Menu
--------------------------------------------- */

.nav-secondary {
	margin-top: 10px;

	.genesis-nav-menu {
		line-height: $line-height--medium;
	}

	.menu-item {
		display: inline-block;
	}

	a {
		margin-right: 10px;
		margin-left: 10px;
		padding: 0;
	}
}
