/* Site Footer
---------------------------------------------------------------------------------------------------- */

.site-footer {
	padding: 30px;
	border-top: $border-width $border-style $border-color;
	background-color: #fff;
	font-size: $site-footer--font-size;
	line-height: $line-height--medium;
	text-align: center;

	p {
		margin-bottom: 0;
	}
}
