/* ## Site Navigation
--------------------------------------------- */

.genesis-nav-menu {
	clear: both;
	line-height: 1;
	width: 100%;
	font-weight: $font-weight-bolder;
	font-size: $font-size-body * 0.9;
	line-height: 1;

	@include breakpoint(sm) {
		text-align: right;
	}

	.menu-item {
		display: block;
		margin-bottom: 0;
		padding: 10px 0;
		text-align: left;
		width: 100%;
		float: left;
		position: relative;

		@include breakpoint(sm) {
			text-align: right;
			float: none;
			display: inline-block;
			padding: 0;
			width: auto;
		}

		&:last-of-type a {
			padding-right: 0;
		}

		&.clone {

			@include breakpoint(sm) {
				display: none;
			}
		}

		.responsive & {
			width: 100%;
			padding: 0;

			@include breakpoint(sm) {
				width: auto;
			}
		}
	}

	a {
		text-decoration: none;
		display: block;
		padding: 0.5em 0;

		@include breakpoint(sm) {
			padding: 3em 1em;
		}

		@include breakpoint(md) {
			padding: 3.333333333em 1.2em;
		}
	}

	a:hover,
	.current-menu-item > a,
	.sub-menu .current-menu-item > a:hover {
		text-decoration: none;
		color: $color-accent;
	}

	> .menu-item-has-children {

		&:hover {

			> a:after {

				@include breakpoint(sm) {
					opacity: 1;
					visibility: visible;
					transition: opacity 0.9s ease;

					.site-footer & {
						display: none;
					}
				}
			}
		}

		> a {
			position: relative;

			&:after {
				content: " ";
				display: block;
				position: absolute;
				bottom: -0.5rem;
				left: 0;
				right: 0;
				margin: 0 auto;
				height: 1rem;
				width: 1rem;
				background-color: $color-white;
				border: $border;
				border-right: none;
				border-bottom: none;
				transform: rotate(45deg);
				z-index: 99;
				opacity: 0;
				visibility: hidden;
				transition: opacity 0s ease;
			}

			span {
				padding-right: 0.382em;
				position: relative;

				&:after {
					content: "\f0d7";
					font-family: 'FontAwesome';
					position: absolute;
					top: calc( 50% - 0.382em );
					line-height: 1em;
					margin-left: 0.5em;
					font-size: $font-size-body * 0.382;
					display: none;

					@include breakpoint(sm) {
						display: inline-block;
					}

					.site-footer & {
						display: none;
					}
				}
			}
		}
	}

	.sub-menu {
		display: none;
		transition: opacity 0.25s ease;
		@include clearfix;

		@include breakpoint(sm) {
			visibility: hidden;
			top: 100%;
			opacity: 0;
			position: absolute;
			width: 200px;
			z-index: 98;
			display: block;
			background-color: $color-white;
			border: $border;
			border-top: none;
			padding: 1em 0;
			box-shadow: inset 0 1px 0 $color-border;
		}

		.site-footer & {
			display: none;
		}

		.menu-item {
			width: 100%;
		}

		a {
			padding-left: 10px;
			text-align: left;

			@include breakpoint(sm) {
				padding: 1em 1.382em;
				position: relative;
				word-wrap: break-word;
			}
		}

		.sub-menu {

			@include breakpoint(sm) {
				margin: -1px 0 0 199px;
				padding-left: 0;
				border: none;
				opacity: 0;
				visibility: hidden;
				border: $border;
				box-shadow: none;
				left: -1px;
				top: -1em;

				&:before {
					display: none;
				}
			}
		}

		> .menu-item-has-children {

			> a span {

				&:after {
					content: '\f112';
					font-family: 'FontAwesome';
					position: absolute;
					top: calc( 50% - 0.618em );
					line-height: 1em;
					margin-left: 0.5em;
					font-size: $font-size-body * 0.382;
					display: none;

					@include breakpoint(sm) {
						display: inline-block;
					}
				}
			}
		}
	}

	.menu-item-has-children:hover > .sub-menu {

		@include breakpoint(sm) {
			opacity: 1;
			visibility: visible;
		}
	}

	> .first > a {
		padding-left: 0;
	}

	> .last > a {
		padding-right: 0;
	}

	> .right {
		float: right;
	}
}

/* ## Primary Navigation
--------------------------------------------- */

.nav-primary {
	width: 100%;
	background-color: $color-white;
	border-bottom: $border;
	border-top: $border;

	@include breakpoint(sm) {
		background-color: transparent;
		border: none;
	}

	.js & {
		display: none;
		position: absolute;
		z-index: 99;
		left: 0;
		top: 100%;

		@include breakpoint(sm) {
			display: block;
			position: static;
			z-index: 100;
			margin-left: 0;
			flex: 1;
		}
	}

	.wrap {
		padding: 20px 5%;

		@include breakpoint(sm) {
			padding: 0;
			max-width: 1100px;
		}
	}

	.menu-item {

		.mega-menu &:first-of-type a {

			@include breakpoint(sm) {
				padding-left: 0;
			}
		}

		li {
			margin-left: 0;
		}
	}
}

/* ## Nav Secondary
--------------------------------------------- */

.nav-secondary {
	width: 100%;
	float: left;
	position: relative;
	box-shadow: inset 0 -1px 0 $color-border;

	.js & {

		.wrap {
			position: relative;
		}

		.genesis-nav-menu {
			display: none;

			@include breakpoint(sm) {
				display: block;
			}
		}
	}

	.genesis-nav-menu {
		float: left;
		width: auto;
		z-index: 2;
		@include clearfix;

		> .menu-item {

			&:first-of-type {

				a {

					@include breakpoint(sm) {
						padding-left: 0;
					}
				}
			}

			> a {

				@include breakpoint(sm) {
					padding: 1.82em 1.382em;
				}
			}

			> .sub-menu {
				box-shadow: none;
			}
		}
	}

	li.mega-menu {

		li {
			margin-left: 0;

			&:first-of-type a {

				@include breakpoint(sm) {
					padding-left: 0;
				}
			}
		}
	}
}

/* ## Footer Navigation
--------------------------------------------- */

.site-footer {

	.menu {

		.menu-item {
			text-align: left;
			float: left;
			padding: 0;
			width: 50%;
			display: block;

			a {
				padding: 0;
			}
		}
	}
}

/* ## Menu toggle
--------------------------------------------- */

.menu-toggle {
	height: 2.5rem;
	width: 2.5rem;
	padding: 2rem 0;
	margin: auto;
	margin-left: 4rem;
	cursor: pointer;
	background-color: transparent;
	display: block;
	position: relative;
	z-index: 99;

	&:hover {
		outline: none;
		box-shadow: none;
	}

	@include breakpoint(sm) {
		padding: 30px 30px 30px 0;
	}

	@include breakpoint(sm) {
		display: none;
	}

	span {
		display: block;
		position: absolute;
		height: 2px;
		background: $color-heading;
		transition: background 0s 0.25s;
		width: 2.5rem;
		margin-top: -1px;
		border-radius: $border-radius;

		&::before,
		&::after {
			position: absolute;
			display: block;
			left: 0;
			width: 100%;
			height: 2px;
			background-color: $color-heading;
			border-radius: $border-radius;
			content: " ";
		}

		&::before {
			top: -7px;
			transition: top 0.25s 0.25s, transform 0.25s 0s;
		}

		&::after {
			bottom: -7px;
			transition: bottom 0.25s 0.25s, transform 0.25s 0s;
		}

	}

	&.activated span {
		background: none;

		&::before {
			top: 0;
			transform: rotate(45deg);
			transition: top 0.25s 0s, transform 0.25s 0.25s;
		}

		&::after {
			bottom: 0;
			transform: rotate(-45deg);
			transition: bottom 0.25s 0s, transform 0.25s 0.25s;
		}
	}

}

/* ## Sub menu toggle
--------------------------------------------- */

.sub-menu-toggle {
	padding: 0.618rem;
	position: absolute;
	right: 0;
	top: 0.618rem;
	border-width: 0;
	background-color: transparent;
	color: $color-body;

	@include breakpoint(sm) {
		display: none;
	}

	&:hover {
		color: $color-body;
	}

	&.activated:before {
		content: "\f113";
	}

	.site-footer & {
		display: none;
	}
}

