/* # Variables
-----------------------------------------------------------------------*/

/**
 * ### Breakpoints
 * 
 * Based on the most common 16:9 screen resolutions.
 * @link https://pacoup.com/2011/06/12/list-of-true-169-resolutions/
 */

$breakpoints: (
	xs: 512px,
	sm: 768px,
	md: 896px,
	lg: 1152px,
	xl: 1280px
);

/* ### Colors */

$dark:  #30353a;
$accent:#a0a8af;
$light: #f4f5f6;
$white: #ffffff;

/* ### Typography */

$font-heading: 'Source Sans Pro', Helvetica, Arial, sans-serif;
$font-body:    'Source Sans Pro', Helvetica, Arial, sans-serif;
$normal:  	   400;
$bolder:  	   600;
$bold:    	   700;

/* ### Other */

$site-radius: 0.1rem;
$site-border: 0.1rem solid $light;

/* # Mixins
-----------------------------------------------------------------------*/

/* ### Media Queries */

@mixin breakpoint( $breakpoint ) {

    @if map-has-key( $breakpoints, $breakpoint ) {

        @media ( min-width: #{ map-get( $breakpoints, $breakpoint ) } ) {
            @content;
        }

    } @else if type_of( $breakpoint ) == number and unit( $breakpoint ) == px or unit( $breakpoint ) == em or unit( $breakpoint ) == rem {

        @media (min-width: $breakpoint ) {
            @content;
        }

    } @else {

        @warn "No value could be retrieved from `#{$breakpoint}`. "
              + "Please make sure it is defined in `$breakpoints` map, or it is a valid number with supported unit of px, em or rem.";
    }
}

/* ### Clearfix */

@mixin clearfix {
	clear: both;

	&:before,
	&:after {
		clear: both;
		display: block;
		content: '';
	}
}

/* ### Transitions */

@mixin transition {
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}
