/* Widgets
---------------------------------------------------------------------------------------------------- */

.widget {
	margin-bottom: 40px;

	p:last-child,
	ul > li:last-of-type {
		margin-bottom: 0;
	}

	ul > li {
		margin-bottom: 10px;
	}

	ul > li:last-of-type {
		padding-bottom: 0;
	}

	ol > li {
		padding-left: 20px;
		text-indent: -20px;
		list-style-position: inside;
		list-style-type: decimal;
	}

	li li {
		margin: 0 0 0 30px;
		padding: 0;
		border: 0;
	}
}

.widget_calendar {

	table {
		width: 100%;
	}

	td,
	th {
		text-align: center;
	}
}

/* Featured Content
--------------------------------------------- */

.featured-content {

	.entry {
		margin-bottom: 20px;
		border-bottom: $border-width $border-style $border-color;
	}

	.entry:last-of-type {
		margin-bottom: 0;
		border-bottom: none;
	}

	.entry-image {
		width: 75px;
		height: 75px;
	}

	.entry-title {
		margin-top: 10px;
		margin-bottom: 5px;
		font-size: $featured-content__entry-title--font-size;
	}
}
