/* ## Widgets
--------------------------------------------- */

.widget {
	margin-bottom: 10%;
	word-wrap: break-word;

	@include breakpoint(sm) {
		margin-bottom: 0;
	}

	&:last-of-type {
		margin-bottom: 0;
	}

	.sidebar & {
		margin-bottom: 3em;
	}

	ul > li:last-of-type {
		margin-bottom: 0;
	}

	ul > li {
		margin-bottom: 10px;
		padding-bottom: 10px;
	}

	ul > li:last-of-type {
		padding-bottom: 0;
	}

	ol > li {
		list-style-position: inside;
		list-style-type: decimal;
		padding-left: 20px;
		text-indent: -20px;
	}

	li li {
		border: 0;
		margin: 0 0 0 30px;
		padding: 0;
	}
}

.widget-title {
	display: inline-block;
	margin-bottom: 1em;
	font-size: $font-size-heading;
	font-family: $font-heading;
	color: $color-heading;

	@include breakpoint(sm) {
		font-size: $font-size-heading * 1.1;
	}
}

.widget_calendar {

	table {
		width: 100%;
	}

	td,
	th {
		text-align: center;
	}
}
