/*!
 * Theme Name: Starter
 * Theme URI: http://www.seothemes.net/starter/
 * Description: A starter theme for the Genesis Framework.
 * Author: Seo Themes
 * Author URI: http://www.seothemes.net/
 * Version: 1.6.0
 * Text Domain: starter
 * Tags: one-column, two-columns, left-sidebar, right-sidebar,
 * accessibility-ready, custom-logo, custom-background,
 * custom-colors, custom-header, custom-menu, featured-images,
 * full-width-template, rtl-language-support, sticky-post,
 * theme-options, threaded-comments, translation-ready.
 * Template: genesis
 * Template Version: 2.4.2
 * License: GPL-2.0+
 * License URI: http://www.gnu.org/licenses/gpl-2.0.html
 * GitHub Theme URI: https://github.com/seothemes/starter
 */

/* # Table of Contents

- Utlities
	- Variables
	- Mixins
- Reset
	- Baseline Normalize
	- Box Sizing
	- Float Clearing
- Defaults
	- Typography
	- Headings
	- Objects
	- Forms
	- Tables
	- Accessibility
- Structure and Layout
	- Site Containers
	- Content Width
	- Column Classes
	- Gallery
	- Featured Content
- Common Classes
	- Avatar
	- Genesis
	- Search Form
	- Titles
	- WordPress
- Widgets
	- Widgets
	- Front Page
- Plugins
	- Easy Widget Columns
	- Genesis eNews
	- Genesis Testimonials
	- Simple Social Icons
	- WooCommerce
- Site Header
	- Before Header
	- Site Header
	- Title Area
	- Widget Area
	- Hero Section
- Site Navigation
	- Site Navigation
	- Primary Menu
	- Secondary Menu
	- Footer Menu
	- Menu buttons
- Content Area
	- Entries
	- Entry Meta
	- Pagination
	- Comments
	- Sidebars
- Site Footer
	- Site Footer
	- Before Footer
	- Footer Widgets
	- After Footer
- Print Styles
	- Print Styles
*/

/* # Utilities
---------------------------------------------------------------------------------------------------- */

@import 'utilities';

/* # HTML5 Reset
---------------------------------------------------------------------------------------------------- */

@import 'reset';

/* # Defaults
---------------------------------------------------------------------------------------------------- */

@import 'defaults';

/* # Structure and Layout
---------------------------------------------------------------------------------------------------- */

@import 'structure-layout';

/* # Common Classes
---------------------------------------------------------------------------------------------------- */

@import 'common-classes';

/* # Site Header
---------------------------------------------------------------------------------------------------- */

@import 'site-header';

/* # Site Navigation
---------------------------------------------------------------------------------------------------- */

@import 'site-navigation';

/* # Content Area
---------------------------------------------------------------------------------------------------- */

@import 'content-area';

/* # Widgets
---------------------------------------------------------------------------------------------------- */

@import 'widgets';

/* # Site Footer
---------------------------------------------------------------------------------------------------- */

@import 'site-footer';

/* # Front Page
---------------------------------------------------------------------------------------------------- */

@import 'front-page';

/* # Plugins
---------------------------------------------------------------------------------------------------- */

@import 'plugins';

/* # Print Styles
---------------------------------------------------------------------------------------------------- */

@import 'print-styles';
