////
/// Comment component.
///
/// This is the component for handling individual comments in a comments list.
///
/// @group  Components
/// @author Lee Anthony <seothemeswp@gmail.com>
/// @link   https://github.com/seothemes/genesis-starter-theme
////

.comment {
	margin: $spacing--l 0;

	// Comment list wrapper.
	&-list {
		list-style-type: none;
	}

	// Comment children.
	.children {
		list-style-type: none;

		@include margin(0 null);
	}

	// Comment header.
	&-header {}

	// Comment author.
	&-author {
		margin: 0;
	}

	// Comment author link.
	&-author-link {}

	// Comment author says.
	.says {}

	// Comment meta.
	&-meta {}

	// Comment time.
	&-time {}

	// Comment time link.
	&-time-link {}

	// Comment edit link.
	&-edit-link {
		display: none;
	}

	// Comment content.
	&-content {}

	// Comment reply.
	&-reply {}

	// Comment reply link.
	&-reply-link {}

	// Comment reply title.
	&-reply-title {}

	// Comment respond.
	&-respond {}

	// Comment logged in as.
	.logged-in-as {}

	// Comment reply form.
	&-form {}

	// Comment form comment.
	&-form-comment {}

	// Comment form submit.
	.form-submit {}
}
