////
/// Footer credits component.
///
/// @group  Components
/// @author Lee Anthony <seothemeswp@gmail.com>
/// @link   https://github.com/seothemes/genesis-starter-theme
////

.footer-credits {
	padding: $spacing--m 0;
	font-size: $base--font-size / $major-second;

	p {
		margin-bottom: 0;
	}
}
