////
/// Title area component.
///
/// @group  Components
/// @author Lee Anthony <seothemeswp@gmail.com>
/// @link   https://github.com/seothemes/genesis-starter-theme
////

.title-area {
	line-height: $line-height--heading;

	@include padding($spacing--s null);

	@include mq(m) {

		@include padding($spacing--m null);
	}
}

// Site title.
.site-title {
	margin: 0;
	font-weight: $font-weight--semibold;

	.wp-custom-logo & {

		@include hide-visually;
	}

	a {
		color: $color--gray-80;

		@include hover-focus {
			color: $color--primary;
		}
	}
}

// Site description.
.site-description {
	margin: 0;
	font-size: smaller;

	.wp-custom-logo & {

		@include hide-visually;
	}
}

// Custom logo.
.custom-logo {
	width: 100%;
	max-width: $mq-xxxxs;

	&-link {
		display: flex;
		align-items: center;
	}
}
