/* ## Entry Content
--------------------------------------------- */

.entry {
	margin-bottom: 40px;

	@media only screen and (min-width: $standard-screen-width) {
		margin-bottom: 60px;
	}
}

.entry-content {

	p {

		&.has-background {
			padding: 25px 30px;

			&.box-shadow {
				box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
			}

			&.light-text {

				a {
					color: $white;
					text-decoration: underline;
				}

				a:focus,
				a:hover {
					text-decoration: none;
				}
			}
		}
	}

	ol,
	ul {
		margin-bottom: 30px;
		margin-left: 40px;
	}

	ol > li {
		list-style-type: decimal;
	}

	ul > li {
		list-style-type: disc;
	}

	ol ol,
	ul ul {
		margin-bottom: 0;
	}

	code {
		background-color: $code--background-color;
	}

	.caption {
		margin-top: -20px;
		font-size: $entry-content__caption--font-size;
		font-weight: $font-weight--semibold;
		text-align: center;
	}
}

.content .sticky {
	padding: 30px;
	background-color: $sticky--background-color;
}
