/* ## Entry Content
--------------------------------------------- */

.entry {
	margin-bottom: 40px;
}

.entry-content {
	p.has-background {
		padding: 25px 30px;
		&.box-shadow {
			box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
		}
		&.light-text a {
			color: #fff;
			text-decoration: underline;
			&:focus, &:hover {
				text-decoration: none;
			}
		}
	}
	ol, ul {
		margin-bottom: 30px;
		margin-left: 40px;
	}
	ol > li {
		list-style-type: decimal;
	}
	ul > li {
		list-style-type: disc;
	}
	ol ol, ul ul {
		margin-bottom: 0;
	}
	code {
		background-color: #f5f5f5;
	}
	.caption {
		font-size: 14px;
		font-size: 1.4rem;
		font-weight: 600;
		margin-top: -20px;
		text-align: center;
	}
}

.content .sticky {
	background-color: #f5f5f5;
	padding: 30px;
}

