/* ## Entry Meta
--------------------------------------------- */

.entry-meta {

	p {
		margin-bottom: 0;
		font-size: $entry-meta--font-size;
	}

	.entry-header & {
		margin-bottom: 20px;
	}

	.entry-footer & {
		padding-top: 20px;
		border-top: $border;
	}
}

.entry-categories,
.entry-tags {
	display: block;
}

.entry-comments-link:before {
	margin: 0 6px 0 2px;
	content: "\2014";
}
