// Z Index.
$z-index: (
	"1": 100,
	"2": 200,
	"3": 300,
	"4": 400,
	"5": 500,
	"6": 600,
	"7": 700,
	"8": 800,
	"9": 900,
);

$z-index--1: map_get($z-index, "1");
$z-index--2: map_get($z-index, "2");
$z-index--3: map_get($z-index, "3");
$z-index--4: map_get($z-index, "4");
$z-index--5: map_get($z-index, "5");
$z-index--6: map_get($z-index, "6");
$z-index--7: map_get($z-index, "7");
$z-index--8: map_get($z-index, "8");
$z-index--9: map_get($z-index, "9");
