/* ## Front Page 1
--------------------------------------------- */

.front-page-1 {

	@include breakpoint(sm) {
		padding: 26rem 0 20rem;
	}
}

.wp-custom-header {
	overflow: hidden;
	position: absolute;
	width: 100%;
	height: 100%;
	pointer-events: none;
	object-fit: cover;
	object-position: center;

	@include center;

	.woocommerce & img,
	img,
	video,
	iframe {
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center center;
	}

	iframe {
		position: absolute;
		top: -20%;
		right: -20%;
		bottom: -20%;
		left: -20%;
		width: 140%;
		min-width: 100%;
		max-width: 140%;
		height: 140%;
		min-height: 56.25vw; // 16:9 aspect ratio.
		max-height: none;
		margin: auto;
	}

	img {
		display: none;
	}
}

.wp-custom-header-video-button {
	display: none;
}
