.genesis-skip-link {
	margin: 0;

	.skip-link-hidden {
		display: none;
		visibility: hidden;
	}

	li {
		width: 0;
		height: 0;
		list-style: none;
	}
}

/* Display outline on focus */

:focus {
	outline: #ccc solid 1px;
	color: $body--font-color;
}
