.genesis-nav-menu {
	clear: both;
	width: 100%;
	line-height: 1;

	.menu-item {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-between;
		position: relative;

		@include breakpoint(sm) {
			display: inline-block;
		}

		&:focus,
		&:hover {
			position: relative;

			@include breakpoint(sm) {

				.sub-menu:focus,
				.sub-menu:hover {
					z-index: 100;
				}
			}

			> .sub-menu {
				display: block;
				left: auto;
				opacity: 1;
			}
		}
	}

	> .menu-item {

		&:first-of-type {

			> a {

				@include breakpoint(sm) {
					padding-left: 0;
				}
			}
		}
	}

	> .menu-bold > a {

		@include breakpoint(sm) {
			font-weight: $font-weight--bold;
		}
	}

	> .menu-highlight > a {

		@include breakpoint(sm) {
			margin-left: 15px;
			padding-right: 20px;
			padding-left: 20px;
			border-radius: 3px;
			color: $menu-highlight__link--font-color;
			background-color: $menu-highlight__link--background-color;
			font-weight: $font-weight--semibold;

			&:focus,
			&:hover {
				background-color: $menu-highlight__link--background-color-hover;
			}
		}
	}

	a {
		display: block;
		padding: 1em 0;
		outline-offset: -1px;
		color: $genesis-nav-menu--font-color;
		font-size: $genesis-nav-menu--font-size;
		font-weight: $font-weight--regular;
		text-decoration: none;

		@include breakpoint(sm) {
			padding: 1.2em 0.8em;
		}
	}

	a:focus,
	a:hover,
	.current-menu-item > a,
	.sub-menu .current-menu-item > a:focus,
	.sub-menu .current-menu-item > a:hover {
		color: $genesis-nav-menu--font-color-hover;
		text-decoration: none;
	}

	.sub-menu {
		display: block;
		clear: both;
		position: static;
		z-index: 99;
		width: 100%;
		margin: 0;
		padding-left: 15px;
		opacity: 1;

		@include breakpoint(sm) {
			position: absolute;
			width: 180px;
			padding-left: 0;
			border-top: $border;
			opacity: 0;
			transition: opacity $transition;
		}

		&:focus-within {
			opacity: 1;
		}

		a {
			position: relative;
			background-color: $genesis-nav-menu__sub-menu__link--background-color;
			font-size: $genesis-nav-menu__sub-menu__link--font-size;
			word-wrap: break-word;

			@include breakpoint(sm) {
				width: 180px;
				padding: 1em;
				border: $border;
				border-top: 0;
			}
		}

		.sub-menu {

			@include breakpoint(sm) {
				margin: -46px 0 0 179px;
			}
		}
	}
}
