////
/// Breakpoint
///
/// Helper mixin to generate media queries.
///
/// @param {Breakpoint} $breakpoint [m] - Breakpoint size
/// @param {Query} $query [min-width] - Min width or max width
/// @output Media query
///
/// @example scss - Media query `.foo`
///   .foo {
///     display: none;
///     @include breakpoint(s) {
///       display: block;
///     }
///   }
////
@mixin media( $breakpoint, $query: min-width ) {
	$query: if(min-width == $query, min-width, max-width);

	@if map-has-key($breakpoints, $breakpoint) {

		@media only screen and (#{$query}: #{ map-get($breakpoints, $breakpoint) }) {

			@content;
		}
	} @else if type_of( $breakpoint ) == number and unit( $breakpoint ) == px or unit( $breakpoint ) == em or unit( $breakpoint ) == rem {

		@media only screen and (#{$query}: $breakpoint) {

			@content;
		}
	} @else {

		@warn "No value could be retrieved from `#{$breakpoint}`. "
			+ "Please make sure it is defined in `$breakpoints` map, or it is a valid number with supported unit of px, em or rem.";
	}
}
