////
/// Custom mixins.
///
/// @group  Tools
/// @author Lee Anthony <seothemeswp@gmail.com>
/// @link   https://github.com/seothemes/genesis-starter-theme
////

////
/// Hover focus mixin
///
/// @group  Tools
/// @author Lee Anthony <seothemeswp@gmail.com>
/// @link   https://github.com/seothemes/genesis-starter-theme
////

@mixin hover-focus {

	&:hover,
	&:focus,
	&:active {

		@content;
	}
}

////
/// Border mixin
///
/// @group  Tools
/// @author Lee Anthony <seothemeswp@gmail.com>
/// @link   https://github.com/seothemes/genesis-starter-theme
////

@mixin border( $values ) {

	@include _directional-property(border, null, $values);
}

////
/// Overlay mixin
///
/// @group  Tools
/// @author Lee Anthony <seothemeswp@gmail.com>
/// @link   https://github.com/seothemes/genesis-starter-theme
////

@mixin overlay {
	overflow: hidden;
	position: relative;

	&:before {
		display: block;
		background-color: rgba($color--gray-10, 0.82);
		content: "";

		@include position(absolute, 0 0 0 0);
	}
}
