////
/// Placeholder
///
/// @group  Tools
/// @author Lee Anthony <seothemeswp@gmail.com>
/// @link   https://github.com/seothemes/genesis-starter-theme
////
@mixin placeholder {

	&::-webkit-input-placeholder {

		@content;
	}

	&:-moz-placeholder { /* Firefox 18- */

		@content;
	}

	&::-moz-placeholder {  /* Firefox 19+ */

		@content;
	}

	&:-ms-input-placeholder {

		@content;
	}
}
