/* ## Search Form
--------------------------------------------- */

.search-form {
	overflow: hidden;

	.entry-content & {
		width: 50%;
		margin-bottom: 40px;
	}
}

.post-password-form input[type="submit"],
.search-form input[type="submit"] {
	margin-top: 10px;
}

.widget_search input[type="submit"] {

	@include screen-reader-text;
}
