/* ## Titles
--------------------------------------------- */

.author-box-title {
	margin-bottom: 10px;
	font-size: $author-box-title--font-size;
	font-weight: $font-weight--semibold;
}

.entry-title {
	margin-bottom: 10px;
	font-size: $entry-title--font-size;

	a {
		color: $entry-title__link--font-color;
		text-decoration: none;

		&:focus,
		&:hover {
			color: $entry-title__link--font-color-hover;
		}
	}

}

.widget-title {
	margin-bottom: 20px;
	font-size: $widget-title--font-size;
	font-weight: $font-weight--semibold;

	.sidebar & a {
		color: $sidebar__widget-title--font-color;
		text-decoration: none;
	}
}
