/* WordPress Editor
--------------------------------------------- */

.has-light-gray-background-color {
	background-color: #f5f5f5;
}

.has-light-gray-color {
	color: #f5f5f5;
}

.has-medium-gray-background-color {
	background-color: #999;
}

.has-medium-gray-color {
	color: #999;
}

.has-dark-gray-background-color {
	background-color: #333;
}

.has-dark-gray-color {
	color: #333;
}
