////
/// Site footer object.
///
/// @group  Objects
/// @author Lee Anthony <seothemeswp@gmail.com>
/// @link   https://github.com/seothemes/genesis-starter-theme
////

.site-footer {
	margin-top: auto;
	border-top: $base--border;
}

// Footer widgets layout.
.footer-widgets {
	padding: $spacing--l 0;
}

// Footer credits layout.
.footer-credits {
	padding: $spacing--l 0;
	border-top: $base--border;

	p {
		margin-bottom: 0;
	}
}
