////
/// Wrap layout.
///
/// @group  layout
/// @author Lee Anthony <seothemeswp@gmail.com>
/// @link   https://github.com/seothemes/genesis-starter-theme
////

.wrap {
	width: 90%;
	max-width: $layout--width--wrap;

	@include margin(null auto);

	@include media(m) {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	// Sub wrap.
	.wrap {
		width: 100%;
		max-width: 100%;
	}
}
