/* ## Forms
--------------------------------------------- */

input,
select,
textarea {
	background-color: $color-white;
	border: 1px solid $color-border;
	-webkit-border-radius: 0;
	border-radius: 0;
	color: $color-text;
	padding: 11px;
	width: 100%;

	&:focus {
		outline: none;
		border: 1px solid $color-accent;
	}
}

:focus {
	outline: none;
}

input[type="checkbox"],
input[type="image"],
input[type="radio"] {
	width: auto;
}

input[type="search"] {
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    border-radius: 0;
}

::-moz-placeholder {
	color: $color-text;
	opacity: 1;
}

::-webkit-input-placeholder {
	color: $color-text;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.button {
	background: $color-accent;
	border: 0;
	border-radius: 0;
	color: $color-white;
	cursor: pointer;
	font-weight: $font-weight-bold;
	padding: 8px 24px;
	text-decoration: none;
	white-space: nowrap;
	display: inline-block;
	width: auto;
	box-shadow: inset 0 0 0 999px rgba(255,255,255,0);

	@include breakpoint(sm) {
		padding: 12px 36px;
	}

	&:hover,
	&:focus {
		color: $color-white;
		box-shadow: inset 0 0 0 999px rgba(255,255,255,0.15);
	}

	&.secondary {
		background: $color-text;

		&:hover {
			background: $color-accent;
		}
	}

	&.small {
		padding: 6px 18px;
		font-size: $font-size-body * 0.82;

		@include breakpoint(sm) {
			padding: 8px 24px;
		}
	}

	&:disabled,
	&:disabled:hover {
		background-color: $color-border;
		border-width: 0;
		color: $color-accent;
		cursor: not-allowed;
	}
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button {
	display: none;
}

fieldset {
	margin-bottom: 1em;
}

