////
/// Button.
///
/// @group  Base
/// @author Lee Anthony <seothemeswp@gmail.com>
/// @link   https://github.com/seothemes/genesis-starter-theme
////

@mixin button {
	display: inline-block;
	width: auto;
	padding: $spacing--m * $major-second $spacing--l * $major-second;
	border: 0;
	border-radius: $base--border--radius;
	color: $color--white;
	background-color: $color--black;
	font-size: $base--font-size / $major-second;
	font-weight: $font-weight--semibold;
	line-height: 1;
	white-space: normal;
	text-decoration: none;
	cursor: pointer;

	@include hover-focus {
		outline: none;
		color: $color--white;
		background-color: $color--primary;
		text-decoration: none;
	}

	&:disabled {

		&,
		&:hover,
		&:focus {
			opacity: 0.5;
			background-color: $color--gray-50;
			cursor: not-allowed;
		}
	}
}

#{$all-buttons} {

	@include button;
}
