////
/// Button.
///
/// @group  Base
/// @author Lee Anthony <seothemeswp@gmail.com>
/// @link   https://github.com/seothemes/genesis-starter-theme
////

button,
[type="button"],
[type="reset"],
[type="submit"],
.button {
	display: inline-block;
	width: auto;
	padding: $spacing--m $spacing--l;
	border: 0;
	border-radius: $border--radius;
	color: $color--white;
	background-color: $color--gray-70;
	font-size: $font-size--m;
	font-weight: $font-weight--semibold;
	white-space: normal;
	text-decoration: none;
	cursor: pointer;

	&:focus,
	&:hover {
		background-color: $color--primary;
	}

	&:disabled {

		&,
		&:hover,
		&:focus {
			opacity: 0.5;
			background-color: $color--gray-50;
			cursor: not-allowed;
		}
	}
}
