////
/// Form.
///
/// @group  Base
/// @author Lee Anthony <seothemeswp@gmail.com>
/// @link   https://github.com/seothemes/genesis-starter-theme
////

input,
select,
textarea {
	width: 100%;
	padding: 1em;
	border: $border;
	box-shadow: none;
	font-size: $font-size--m;

	&:focus {
		border-color: $color--primary;
		outline: none;
	}

	&:disabled,
	&:disabled:hover {
		border-color: $color--gray-60;
		color: $color--gray-40;
		background-color: $color--gray-20;
		cursor: not-allowed;
	}
}

input[type="checkbox"],
input[type="image"],
input[type="radio"] {
	width: auto;
	margin-right: $spacing--s;
}

input[type="color"] {
	min-height: $spacing--xl;
}

input[type="search"] {
	-webkit-appearance: none;

	&::-webkit-search-cancel-button,
	&::-webkit-search-results-button {
		display: none;
	}
}

::placeholder {
	opacity: 1; // Firefox fix
	color: $color--gray-40;
}

fieldset {
	min-width: 0;
	margin: 0;
	padding: 0.01em 0 0 0;
	border: 0;

	body:not(:-moz-handler-blocked) & {
		display: table-cell;
	}
}

legend {
	display: table;
	float: left;
	width: 100%;
	margin: 0 0 $spacing--s;
	padding: 0;
	font-family: $font-family--heading;
	font-size: $font-size--l;
	font-weight: $font-weight--semibold;

	+ * {
		clear: both;
	}
}
