////
/// Heading.
///
/// @group  Base
/// @author Lee Anthony <seothemeswp@gmail.com>
/// @link   https://github.com/seothemes/genesis-starter-theme
////
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0 0 $spacing--s;
	font-family: $font-family--heading;
	font-weight: $font-weight--semibold;
	line-height: $line-height--s;
}

h1 {
	font-size: $font-size--xxxxl;
}

h2 {
	font-size: $font-size--xxxl;
}

h3 {
	font-size: $font-size--xxl;
}

h4 {
	font-size: $font-size--xl;
}

h5 {
	font-size: $font-size--l;
}

h6 {
	font-size: $font-size--m;
}
