////
/// Table.
///
/// @group  Base
/// @author Lee Anthony <seothemeswp@gmail.com>
/// @link   https://github.com/seothemes/genesis-starter-theme
////

table {
	width: 100%;
	margin: $spacing--s 0;
	border-radius: $base--border--radius;
	border-spacing: 0;
	border-collapse: collapse;
	word-break: break-all;
}

th,
td {
	padding: $spacing--s;
	border: $base--border;
	text-align: left;
}

th {
	font-weight: $font-weight--semibold;
}
