@mixin font-smoothing($value: antialiased) {

	@if $value == antialiased {
		-moz-osx-font-smoothing: grayscale;
		-webkit-font-smoothing: antialiased;
	} @else {
		-moz-osx-font-smoothing: auto;
		-webkit-font-smoothing: subpixel-antialiased;
	}
}
