@mixin screen-reader-text($focus: null) {

	@if null == $focus {
		overflow: hidden;
		clip: rect(1px, 1px, 1px, 1px);
		position: absolute !important;
		width: 1px;
		height: 1px;
		margin: -1px;
		padding: 0;
		border: 0;
		clip-path: inset(50%);
		word-wrap: normal !important;
	} @else if focus == $focus {
		display: block;
		clip: auto !important;
		z-index: 100000;
		top: 5px;
		left: 5px;
		width: auto;
		height: auto;
		padding: 15px 23px 14px;
		color: #444;
		background-color: #eee;
		clip-path: none;
		font-size: 1em;
		line-height: normal;
		text-decoration: none;
	}
}
