/* ## Comments
--------------------------------------------- */

.comment-respond,
.entry-comments,
.entry-pings {
	font-size: $font-size-body;
	margin-top: 5%;

	@include breakpoint(sm) {
		margin-top: 40px;
	}
}

.comment-list li {
	padding: 40px 0 0 30px;
}

.comment-list .depth-1 {
	padding-left: 0;
}

.comment-header {
	margin-bottom: 30px;

	p {
		margin-bottom: 0;
	}
}

.comment-content {
	clear: both;

	ul > li {
		list-style-type: disc;
	}
}

.comment-respond label {
	display: block;
	margin-right: 12px;
}

.entry-pings .reply {
	display: none;
}

.form-submit {
	margin-bottom: 0;
}

@include breakpoint(sm) {

	.comment-respond input[type="email"],
	.comment-respond input[type="text"],
	.comment-respond input[type="url"] {
		width: 50%;
	}
}