/* ## Entries
--------------------------------------------- */

.entry {
	margin-bottom: 5%;

	.page &:last-of-type,
	.archive &:last-of-type,
	.single & {
		margin-bottom: 0;
	}

	@include breakpoint(sm) {
		margin-bottom: 40px;
	}
}

.entry-content {

	ol,
	ul {
		margin-bottom: 28px;
		margin-left: 40px;
	}

	ol > li {
		list-style-type: decimal;
	}

	ul > li {
		list-style-type: disc;
	}

	ol ol,
	ul ul {
		margin-bottom: 0;
	}

	code {
		background-color: $color-border;
		display: inline-block;
		padding: 1rem 2rem;
	}

	> *:last-child {
		margin-bottom: 0;
	}

}
