/* ## Entries
--------------------------------------------- */

.entry {
	margin-bottom: 10%;

	&:last-of-type {
		margin-bottom: 0;
	}
}

.entry-content {

	ol,
	ul {
		margin-bottom: 28px;
		margin-left: 40px;
	}

	ol > li {
		list-style-type: decimal;
	}

	ul > li {
		list-style-type: disc;
	}

	ol ol,
	ul ul {
		margin-bottom: 0;
	}

	code {
		background-color: $color-border;
		display: inline-block;
		padding: 1rem 2rem;
	}

	> *:last-child {
		margin-bottom: 0;
	}

}
