/* ## Pagination
--------------------------------------------- */

.pagination {
	clear: both;
	margin: 5% auto 0;

	@include breakpoint(sm) {
		margin: 40px 0 0;
	}
}

.adjacent-entry-pagination {
	margin-bottom: 0;
}

.archive-pagination {

	li {
		display: inline;
	}

	a {
		color: $color-text;
		cursor: pointer;
		display: inline-block;
		font-size: 16px;
		font-size: 1.6rem;
		padding: 8px 12px;
		text-decoration: none;
	}

	li a {
		margin-bottom: 4px;

		@include breakpoint(sm) {
			margin-bottom: 0;
		}
	}

	a:hover,
	a:focus,
	.active a {
		background-color: $color-accent;
		color: $color-white;
	}
}